<masonry-layout class="ugc-tiles" cols="auto" gap="10">
    {{#tiles}}
        {{>tpl-tile}}
    {{/tiles}}
</masonry-layout>    
<load-more />
<div id="load-more-loader" class="hidden">
    <div class="loading"></div>
</div>