<div id="widget-container" class="hidden-container">
    <div class="ugc-tiles grid waterfall-inline">
        {{#tiles}}
        {{>tpl-tile options=../options.config}}
        {{/tiles}}
    </div>
    <load-more />
    <div id="load-more-loader">
        <div class="loading"></div>
    </div>
</div>