{{#tile class="grid-item"}}
  <div class="tile">
    <div class="tile-top">
      <div class="tile-loading"></div>
      <div class="tile-content hidden">
        {{#each attrs}}
          {{#ifequals this "instagram.reel"}}
            <div class="content-icon icon-reel"></div>
          {{/ifequals}}
        {{/each}}
        {{#if tags_extended.length}}
          <div class="shopping-icon icon-products"></div>
        {{/if}}
        <div class="network-icon icon-{{source}}"></div>
        {{#ifequals media "video"}}
          <div class="icon-play"></div>
        {{/ifequals}}
      </div>
      <div class="tile-image-wrapper">
        {{#lazy image_thumbnail_url "120"}}{{/lazy}}
        <div class="swiper-lazy-preloader"></div>
        {{#if options.tile_options.show_shopspots}}
          <shopspot-icon tile-id={{id}} />
        {{/if}}
      </div>
    </div>
    <div class="tile-bottom">
      {{#if tags_extended.length}}
        <tile-tags tile-id="{{id}}" ></tile-tags>
      {{/if}}
      <div class="description">
        <div class="waterfall-widget">
          <tile-content
            tile-id="{{id}}"
            context="waterfall-inline"
            render-avatar-image="false"
            render-timephrase="false"
            trim-description="true"
          ></tile-content>
        </div>
      </div>
    </div>
  </div>
{{/tile}}