@use "styles";

#nosto-ugc-container {
  background-color: var(--widget-background);
  padding: var(--margin);

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--tile-size), 1fr));
    grid-auto-rows: 10px;
    gap: var(--margin);
    background: var(--widget-background);
  }

  .ugc-tile {
    $total-padding: 10px;

    box-sizing: border-box;
    max-width: 100%;
    grid-row-end: span 30;
  }

  .tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--text-tile-background);
    box-sizing: border-box;
    height: 100%;
    border-radius: var(--inline-tile-border-radius);
  }

  .tile-top {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: auto;
  }

  .icon-play {
    top: 43%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .network-icon.small {
    height: 12px;
    width: 12px;
  }

  .network-icon.large {
    height: 22px;
    width: 24px;
  }

  .content-icon.small,
  .icon-products.small {
    height: 10px;
    width: 10px;
  }

  .content-icon.large,
  .icon-products.large {
    height: 14px;
    width: 14px;
  }

  .tile-bottom {
    width: 100%;

    .tile-bottom-container {
      padding: 0 10px 10px;

      .description {
        margin: 10px 10px 10px 0;
        min-height: 70px;
      }

      tile-tags {
        display: flex;
        margin-top: 16.25px;
        width: 100%;
    
        .swiper-tags {
          margin: 0;
        }
    
        .swiper-button-prev,
        .swiper-button-next {
          top: 0;
          height: 100%;
        }
    
        .swiper-button-next {
          right: 8px;
        }
    
        .swiper-nav-icon {
          height: 10px;
          width: 10px;
        }
    
        .swiper-button-disabled {
          display: none;
        }
      }
    }

    .tile-bottom-container.small {
      padding: 0 5px 10px 9px;

      .description {
        margin: 8px 5px 0 0;
      }

      tile-tags {
        display: flex;
        margin-top: 8px;
      }

      .swiper-tags {
        max-width: 100%;
      }

      .swiper-tags-button-next {
        right: 0;
      }
    }

    .tile-bottom-container.small * {
      font-size: 8px;
    }
  }

  .tag-inline {
    background: var(--tile-tag-background);
    border-radius: 3px !important;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    padding: 0 4px;
    line-height: 16px;
    text-wrap: nowrap;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  .tag-inline:last-child {
    margin-right: 10px;
  }

  .tag-slider {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .tag-slider-arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px;
    z-index: 10;
    display: none;
  }

  .tag-slider-arrow.left-arrow,
  .tag-slider-arrow.right-arrow {
    position: absolute;
    top: -4px;
  }

  .tag-slider-arrow.left-arrow {
    left: 0;
  }

  .tag-slider-arrow.right-arrow {
    right: 7px;
  }

  .tile-tags::-webkit-scrollbar {
    display: none;
  }

  .tile-timestamp {
    color: #908e8f;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 8px;
  }

  time-phrase {
    display: var(--timephrase-display-inline);
  }

  share-menu {
    right: 0;
    top: 15%;
    position: absolute;

    .share-socials-popup-wrapper {
      position: fixed;
    }

    .panel-overlay-active {
      inset: 0;
    }
  }

  .caption {
    display: var(--show-caption-inline-webkit);
    font-size: var(--text-tile-font-size);
    color: #000;
    -ms-overflow-style: none;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .caption.lines-4 {
    -webkit-line-clamp: 4;
    max-height: 70px;
  }

  .caption.lines-5 {
    -webkit-line-clamp: 5;
    max-height: 80px;
  }

  .caption-paragraph {
    color: #000;
    font-size: var(--text-tile-font-size);
  }

  .caption-paragraph a {
    color: var(--text-tile-link-color);
  }

  .user-name {
    color: var(--text-tile-user-name-font-color);
    font-size: var(--text-tile-user-name-font-size);
    font-weight: 600;
  }

  .user-handle {
    color: var(--text-tile-user-handle-font-color);
    font-size: var(--text-tile-user-handle-font-size);
    margin-bottom: 10px;
  }

  #load-more-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 25px;
    opacity: 1;
    transition: opacity 0.5s ease;

    &.hidden {
      opacity: 0 !important;
      display: none;
    }

    .loading {
      height: 50px !important;
      width: 50px !important;
    }
  }

  .hidden {
    display: none;
  }

  .tile-share-content {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .icon-share {
      display: var(--share-icon-display-inline);
    }

    .icon-share.small {
      height: 16px;
      width: 16px;
    }
  }

  .bottom-section {
    bottom: 3px;
  }

  .network-icon {
    margin: 0 8px 8px auto;
  }

  .shopping-icon {
    margin-right: 8px;
  }

  .tile-image-wrapper {
    img {
      width: 100%;
    }
  }

  .tile-content-wrapper {
    gap: 0 !important;
    padding-right: 17px !important;
  }
}
