@use "styles" as carouselStyles;
@use "@styles/partials/media-queries";
@use "dimens";

#nosto-ugc-container {
  transition: ease all 0.5s;
  background-color: var(--widget-background);
  display: flex;
  place-items: center;
  margin: dimens.$nosto-container-margin 0;
  height: calc(var(--tile-size) + 50px);

  .hidden {
    display: none;
  }

  .story-inline.swiper-inline {
    width: 100%;
    height: 100%;
    margin-left: unset;

    .ugc-tile {
      width: 100%;
      height: 100%;
      transition: all 300ms cubic-bezier(0.55, 0, 1, 0.45) 0s;

      .tile-loading {
        top: unset;
        left: unset;
      }

      .icon-section {
        height: var(--tile-size);
        width: var(--tile-size);
        transition: all 300ms cubic-bezier(0.55, 0, 1, 0.45) 0s;
      }

      &:hover {
        transform: scale(1.1);

        .icon-section {
          opacity: 1;
          visibility: visible;
        }

        .story-overlay {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &[variation="small"] {
      .ugc-tile {
        &:hover {
          transform: scale(1.2);
        }

        .icon-section {
          height: calc(var(--tile-size) + 15px);
          width: calc(var(--tile-size) + 15px);
        }
      }
    }

    &[variation="medium"] {
      .ugc-tile {
        .icon-section {
          width: calc(var(--tile-size) + 10px);
          height: calc(var(--tile-size) + 10px);
        }
      }
    }

    .swiper-slide {
      opacity: 0;
    }

    .swiper-slide-visible {
      opacity: 1;
    }
  }

  & > .swiper-inline-story-button-prev,
  & > .swiper-inline-story-button-next {
    position: initial;
    margin: 0;
  }

  @include media-queries.breakpoint(desktop) {
    .story-inline.swiper-inline {
      --render-mode: desktop;
    }
  }

  @include media-queries.breakpoint(tablet) {
    .story-inline.swiper-inline {
      --render-mode: tablet;
    }
  }

  @include media-queries.breakpoint(mobile) {
    .story-inline.swiper-inline {
      --render-mode: mobile;
    }
  }
}
