node_modules
.idea
.esbuild
cypress/videos
cypress/screenshots
cypress/downloads
*.d.ts
*.map
.serverless
server
.vscode/settings.json
.DS_Store
cypress/snapshots/diff
public/carousel
public/grid
public/masonry
public/quadrant
public/nightfall
public/slider
public/story-line
public/storypage
public/waterfall