{
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": false,
  "requirePragma": false,
  "insertPragma": false,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
