@use "sass:string";
@use "@styles/partials/media-queries";

$load-more-margin: 20px;

// style placeholder
load-more {
  cursor: pointer;

  #buttons {
    display: flex;
    place-content: center;
    margin-top: $load-more-margin;
    margin-bottom: $load-more-margin;

    .load-more {
      display: flex;
    }
  }
}