<div class="ugc-tiles grid">
    {{#tiles}}
    {{>tpl-tile}}
    {{/tiles}}
</div>
<div id="submit-more-content-btn">
    <span class="icon-upload"></span><span>Submit your content</span>
</div>
<div id="load-more-loader" class="hidden">
    <div class="loading"></div>
</div>
<div id="direct-uploader-form" class="hidden">
    <div class="overlay"></div>
    <div class="form-container">
        <direct-uploader/>
    </div>
</div>