<div class="ugc-tiles __inline storypage-inline">
    {{#tiles}}
    {{>tpl-tile}}
    {{/tiles}}
</div>
<div id="load-more-loader" class="hidden">
    <div class="loading"></div>
</div>
<div id="direct-uploader-form" class="hidden">
    <div class="overlay"></div>
    <div class="form-container">
        <direct-uploader />
    </div>
</div>