@use "styles";

:host {
  transition: ease all 0.5s;
}

.grid {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  @include styles.breakpoint(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include styles.breakpoint(mobile) {
    grid-template-columns: 1fr;
  }
}

#nosto-ugc-container {
  margin: 20px;

  .ugc-tile {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
  }

  .tile {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;

    .play-icon {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;

  .loading {
    height: 50px !important;
    width: 50px !important;
  }
}

#submit-more-content-btn {
  --button-padding: 8px 16px;
  --button-font-size: 14px;
  --button-outer-gap: 10px;
  --button-alignment: center;
  --button-height: 40px;
  --button-border-radius: 5px;
  --button-text-left-padding: 3px;
  --button-font-weight: 500;
  --button-color: white;
  --button-bg-color: #636062;
  --button-hover-bg-color: #4d4c4b;

  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  padding: var(--button-padding);
  text-align: var(--button-alignment);
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  display: flex;
  justify-content: var(--button-alignment);
  align-items: var(--button-alignment);

  span {
    font-size: var(--button-font-size);
    padding-left: var(--button-text-left-padding);
    font-weight: var(--button-font-weight);
  }

  &:hover {
    background-color: var(--button-hover-bg-color);
  }
}

.hidden {
  display: none !important;
}

.direct-uploader-load-more {
  --direct-uploader-wrapper-size: 100%;

  position: absolute;
  inset: 0;
  margin: 0 auto;
  height: var(--direct-uploader-wrapper-size);
  width: var(--direct-uploader-wrapper-size);
  background-color: rgba(31 99 202 / 80%);


  --direct-uploader-container-inset: 0;
  --direct-uploader-container-text-color: white;
  --direct-uploader-container-font-size: 16px;
  --direct-uploader-container-icon-weight: 500;

  div {
    position: absolute;
    inset: var(--direct-uploader-container-inset);
    inset-area: center;

    p {
      font-size: var(--direct-uploader-container-font-size);
      font-weight: var(--direct-uploader-container-icon-weight);
      color: var(--direct-uploader-container-text-color);
    }

    .icon-picture {
      margin: 0 auto;
      display: block;
    }
  }

  .direct-uploader-container {
    position: relative;
    height: var(--direct-uploader-wrapper-size);
    width: var(--direct-uploader-wrapper-size);
  }
}

#direct-uploader-form {
  .overlay {
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: 2;
    opacity: 0.8;
  }

  .form-container {
    --form-background-color: white;
    --form-shadow-opacity: 10%;
    --form-exit-button-inset: -15px;
    --form-insent: 10%;
    --form-padding: 20px;
    --form-max-height: 90vh;
    --form-border-radius: 5px;

    background-color: var(--form-background-color);
    position: fixed;
    inset: var(--form-insent);
    z-index: 3;
    padding: var(--form-padding);
    max-height: var(--form-max-height);
    border-radius: var(--form-border-radius);
    box-shadow: 0 0 10px 0 rgba(0 0 0 / var(--form-shadow-opacity));

    .exit {
        position: absolute;
        right: var(--form-exit-button-inset);
        top: var(--form-exit-button-inset);
    }
  }
}