@use "inline-tile";
@use "direct-uploader";

:host {
  transition: ease all 0.5s;
  overflow: hidden;
}

#nosto-ugc-container {
  .tile {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;

    .icon-play {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.hidden {
  display: none !important;
}