<div class="track">
    <div class="quadrant-grid-container">
        <div id="tiles" style="display:none;">
            {{#tiles}}
            {{>tpl-tile}}
            {{/tiles}}
        </div>
    </div>
</div>
<div id="buttons">
    <button id="load-more">Load More</button>
</div>