
<div class="ugc-tiles" cols="auto">
    {{#tiles}}
        {{>tpl-tile}}
    {{/tiles}}
</div>
<div id="buttons">
    <a id="load-more">Load More</a>
</div>
<div id="load-more-loader" class="hidden">
    <div class="loading"></div>
</div>