{{#tile class="glide__slide"}}
<div class="glide__slide ugc-tile" data-id="{{id}}" style="display:none">
    <div class="network-icon icon-{{source}}"></div>
    {{#lazy image_thumbnail_url "120"}}
</div>
{{/tile}}