@import "@styles/mixins.scss";
@import "@styles/expanded-tile.scss";
@import "@templates/tags/tags.scss";
@import "@styles/mixins.scss";
@import "@styles/icon-sections.scss";

#nosto-ugc-container {
  --tile-size-with-margin: calc(var(--tile-size) - var(--margin) * 1px);

  .ugc-tiles {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: var(--margin);
    justify-content: center;

    @include breakpoint(tablet) {
      grid-template-columns: 48% 48%;
    }

    @include breakpoint(mobile) {
      grid-template-columns: 100%;
    }
  }

  .tile-group {
    display: grid;
    gap: var(--margin);
    margin-bottom: var(--margin);
    grid-template-columns: repeat(4, var(--tile-size-with-margin));

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, var(--tile-size-with-margin));
    }

    @include breakpoint(mobile) {
      grid-template-columns: repeat(1, var(--tile-size-with-margin));
    }
  }

  .ugc-tile {
    $total-padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;

    &:not(.processed) {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .ugc-tile.large {
    grid-area: large;
  }

  .ugc-tile.small.small1 {
    grid-area: small1;
  }

  .ugc-tile.small.small2 {
    grid-area: small2;
  }

  .ugc-tile.small.small3 {
    grid-area: small3;
  }

  .ugc-tile.small.small4 {
    grid-area: small4;
  }

  .tile {
    position: relative;

    .play-icon {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
    }

    .tile-timephrase {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background-color: rgb(255 255 255 / 60%);
      border-radius: 2px;
      font-size: 12px;
      display: var(--tile-timephrase-display);
    }

    .tile-tags {
      position: absolute;
      margin: 0 16.4px 8.4px 8px;

      .tag-inline {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        font-size: 14px;
        padding: 4px;
        font-weight: 400;

        a {
          color: #fff;
        }
      }
    }

    .tile-image {
      display: flex;
    }
  }
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;

  &.hidden {
    opacity: 0 !important;
  }

  .loading {
    height: 50px !important;
    width: 50px !important;
  }
}

.hidden {
  display: none;
}

.expanded-tile-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgb(0 0 0 / 90%);
  z-index: 10;
  cursor: pointer;
}
