@use "pkg:@stackla/widget-utils/mixins";
@use "pkg:@stackla/widget-utils/tile-overlay";
@use "pkg:@stackla/widget-utils/icon-sections";

#nosto-ugc-container {
  --tile-size-with-margin: calc(var(--tile-size) - var(--margin) * 1px);
  --full: 100%;
  --half: 50%;

  .ugc-tiles {
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--half) var(--half);
    gap: var(--margin);
    justify-content: center;

    @include mixins.breakpoint(mobile) {
      grid-template-columns: var(--full);
    }
  }

  .tile-group {
    --column-width: calc(25% - var(--margin));

    display: grid;
    gap: var(--margin);
    margin-bottom: var(--margin);
    grid-template-columns: repeat(4, var(--column-width));

    @include mixins.breakpoint(tablet) {
      grid-template-columns: repeat(2, var(--column-width));
    }

    @include mixins.breakpoint(mobile) {
      grid-template-columns: var(--full);
      gap: 0;
    }
  }

  .tile,
  .tile-image {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .ugc-tile {
    $total-padding: 20px;

    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;

    &:not(.processed) {
      display: none;
    }
  }

  .ugc-tile.large {
    grid-area: large;
  }

  .ugc-tile.small.small1 {
    grid-area: small1;
  }

  .ugc-tile.small.small2 {
    grid-area: small2;
  }

  .ugc-tile.small.small3 {
    grid-area: small3;
  }

  .ugc-tile.small.small4 {
    grid-area: small4;
  }

  .tile {
    position: relative;

    .play-icon {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
    }

    .tile-timephrase {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background-color: rgb(255 255 255 / 60%);
      border-radius: 2px;
      font-size: 12px;
      display: var(--tile-timephrase-display);
    }

    .tile-tags {
      position: absolute;
      margin: 0 16.4px 8.4px 8px;
    }

    .tile-image {
      display: flex;
    }
  }
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;

  &.hidden {
    opacity: 0 !important;
  }

  .loading {
    height: 50px !important;
    width: 50px !important;
  }
}

.hidden {
  display: none;
}

.expanded-tile-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgb(0 0 0 / 90%);
  z-index: 10;
  cursor: pointer;
}
