  .icon-section {
      position: relative;

      .network-icon {
          position: absolute;
      }

      .content-icon {
          position: absolute;
      }

      .shopping-icon {
          position: absolute;
      }
  }

.pattern-horizontal-reversed {
  .icon-section {
      .network-icon {
        left: 0;
        top: 10px;
      }

      .content-icon {
        right: 10px;
        top: 10px;
      }

      .shopping-icon {
        bottom: 10px;
        right: 10px;
      }
  }

}

.pattern-horizontal {
  .icon-section {
      .network-icon {
          top: 10px;
          right: 0;
      }

      .content-icon {
          top: 10px;
          left: 10px;
      }

      .shopping-icon {
        bottom: 10px;
        left: 10px;
      }
  }
}

.pattern-vertical {
  .icon-section {
    position: relative;

    .network-icon {
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }

    .content-icon {
      top: 10px;
      left: 10px;
    }
    
    .shopping-icon {
      top: 10px;
      right: 10px;
    }
  }
}

.pattern-vertical-reversed {
  .icon-section {
    position: relative;

    .network-icon {
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;
    }

    .content-icon {
      bottom: 10px;
      left: 10px;
    }
    
    .shopping-icon {
      bottom: 10px;
      right: 10px;
    }
  }
}