.pattern-horizontal-reversed {
  .icon-section {
        grid-template-areas:
      "media type"
      ". shop";

      .network-icon {
        grid-area: unset;
        justify-self: flex-start;
        margin: 10px 0;
      }

      .content-icon {
        place-self: flex-end;
        margin: 10px 0 0 10px;
      }

      .shopping-icon {
        place-self: flex-end flex-end;
        margin: 0 10px 10px 0;
      }
  }

}

.pattern-horizontal {
  .icon-section {
    grid-template-areas:
      "type media"
      "shop .";

      .network-icon {
        place-self: flex-start flex-end;
        margin: 10px 0 0;
      }

      .content-icon {
        place-self: flex-start;
        margin: 10px 0 0 10px;
      }
      
      .shopping-icon {
        place-self: flex-end flex-start;
        margin: 0 10px 10px;
      }
  }
}

.pattern-vertical {
  .icon-section {
    grid-template-areas:
      "type"
      "media"
      "shop";

      .network-icon {
        place-self: flex-end flex-start;
        margin: 0 0 10px;
      }

      .content-icon {
        place-self: flex-end;
        margin: 0 0 0 10px;
      }
      
      .shopping-icon {
        place-self: flex-start flex-end;
        margin: 10px 10px 0 0;
      }
  }
}

.pattern-vertical-reversed {
  .icon-section {
    grid-template-areas:
      "shop"
      "media"
      "type";

      .network-icon {
        place-self: flex-start flex-end;
        margin: 10px 0 0;
      }

      .content-icon {
        place-self: flex-start;
        margin: 0 0 0 10px;
      }
      
      .shopping-icon {
        place-self: flex-end flex-start;
        margin: 0 10px 10px;
      }
  }
}