@use "pkg:@stackla/widget-utils/mixins";
@use "pkg:@stackla/widget-utils/tile-sizes" as ts;

.slider-widget {
  &.track {
    @include mixins.breakpoint(mobile) {
      .container {
        width: var(--tile-size);

        &:has(.ugc-tiles[variation="medium"]),
        &:has(.ugc-tiles[variation="large"]) {
          > #scroll-up,
          > #scroll-down {
            display: none;
          }
        }
      }

      .ugc-tiles[variation="medium"],
      .ugc-tiles[variation="large"] {
        height: calc(var(--tile-size) * 2);
        gap: 0;

        .ugc-tile {
          grid-column: auto;
          grid-row: span 2;
          grid-template-areas: "image" "details";

          &:nth-child(2n) {
            grid-template-areas: "details" "image";
          }

          &:nth-child(4n-1),
          &:nth-child(4n) {
            gap: 0;
          }
        }
      }
    }

    @media (min-width: 577px) and (max-width: (ts.get-tile-size("large") * 2)) {
      .container {
        &:has(.ugc-tiles[variation="large"]) {
          width: var(--large);

          .ugc-tile {
            grid-column: auto;
            grid-row: span 2;
            grid-template-areas: "image" "details";

            &:nth-child(2n) {
              grid-template-areas: "details" "image";
            }
          }
        }
      }
    }
  }
}
