@use "@styles/partials/media-queries";

@mixin responsiveness-template {
  &.track {
    @include media-queries.breakpoint(mobile) {
      --render-mode: mobile;

      .ugc-tiles {
        height: 100%;
      }

      .partially-visible {
        opacity: 1;
        filter: none;
      }

      .container {
        width: 100vw;

        .ugc-tiles {
          grid-template-columns: 1fr;
          height: 100%;
          grid-template-rows: 60% 40%;
          gap: 0;
          grid-auto-columns: auto;

          .ugc-tile {
            max-height: 100vh;
            grid-template-areas: "image" "details";
            min-width: initial;
            grid-column: auto;
            gap: 10px;
            height: 100vh;
            grid-row: span 2;
            grid-template-rows: 60% calc(40% - 10px);
            border-radius: 0;

            .image-section img {
              border-radius: 0;
            }

            .image-section,
            .details-section {
              width: 100%;
              height: 100%;
            }

            .details-section {
              .footer share-menu {
                display: none;
              }
            }

            .icon-section {
              grid-template-areas:
                "type shop"
                "media .";

              > .network-icon {
                place-self: flex-end center;
                grid-column: span 2;
              }

              > .content-icon {
                place-self: flex-start;
                margin: 10px 0 0 10px;
              }

              > .shopping-icon {
                place-self: flex-start flex-end;
                margin: 10px 10px 0 0;
              }
            }
          }

          .ugc-tile[grid-column-indent] {
            top: unset;
          }
        }
      }
    }

    @media (min-width: 544px) and (max-width: 700px) {
      --render-mode: small-tablet;
    }

    @media (min-width: 1080px) and (max-width: 1400px) {
     .container {
        max-width: 1080px !important;
     }
    }

    @media (min-width: 1630px) and (max-width: 1870px) {
      .container {
        max-width: 1630px;
      }
    }

    @include media-queries.breakpoint(tablet) {
      --render-mode: tablet;

      .container {
        width: calc(100vw - 10px);
        margin-top: 5px;

        .ugc-tiles {
          height: 100%;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, minmax(var(--tile-size), 1fr));

          .ugc-tile {
            .image-section,
            .details-section {
              width: 100%;
              height: 100%;
            }

            .image-section {
              height: auto;

              img {
                aspect-ratio: 1 / 1;
              }
            }
          }
        }
      }
    }
  }
}
