<div class="track">
  <div class="container">
    <div class="ugc-tiles">
      <div class="tiles-scroll-button" id="scrollUp">
        <span class="widget-icon chevron-up"></span>
      </div>
      {{#tiles}}
        {{>tpl-tile}}
      {{/tiles}}
    </div>
    <div class="tiles-scroll-button" id="scrollDown">
      <span class="widget-icon chevron-down"></span>
    </div>
  </div>
</div>
