<div class="track">
	<div class="container">
		<div id="tiles">
			<div class="tiles-scroll-button" id="scrollUp">&#9650;</div>
			{{#tiles}}
				{{>tpl-tile}}
			{{/tiles}}
		</div>
		<div class="tiles-scroll-button" id="scrollDown">&#9660;</div>
	</div>
</div>
