<div class="slider-inline track">
  <div class="container">
    <div class="tiles-scroll-button" id="scroll-up">
      <span class="widget-icon chevron-left"></span>
    </div>
    <div class="ugc-tiles">
      {{#tiles}}
      {{>tpl-tile}}
      {{/tiles}}
    </div>
    <div class="tiles-scroll-button" id="scroll-down">
      <span class="widget-icon chevron-right"></span>
    </div>
  </div>
</div>