.caption-paragraph {
  color: #ffffff;
}

.user-info {
  .user-link {
    .user-name {
      color: #ffffff;
      text-transform: uppercase;
    }

    .user-handle {
      color: #ffffff;
    }
  }

  .avatar-wrapper {
    display: none;
  }
}

.tile-timephrase {
  display: flex;
  font-size: var(--text-tile-font-size);
}
