.caption-paragraph {
  color: #ffffff;
}

.user-name {
  color: #ffffff;
  text-transform: uppercase;
}

.user-handle {
  color: #ffffff;
}

.tile-timephrase {
  display: flex;
  font-size: var(--text-tile-font-size);
}
