@use "styles";
@use "responsive";

.hidden {
  display: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  80% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  80% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tile-animate-up {
    animation: slide-up 600ms linear forwards;
  }

  .tile-animate-down {
    animation: slide-down 600ms linear forwards;
  }
}

// Slider patterns
.pattern-horizontal {
   grid-template-areas: "image details";
   grid-column: span 2;
   grid-row: span 1;
  grid-template-columns: subgrid;
}

.pattern-horizontal-reversed {
  grid-template-areas: "details image";
  grid-column: span 2;
  grid-row: span 1;
  grid-template-columns: subgrid;
}

.pattern-vertical {
  grid-template-areas: "image" "details";
  grid-column: auto;
  grid-row: span 2;
}

.pattern-vertical-reversed {
  grid-template-areas: "details" "image";
  grid-column: auto;
  grid-row: span 2;
}

#nosto-ugc-container {
  background-color: var(--widget-background);

  .slider-inline {
    --tile-timephrase-display: flex;

    display: flex;
    place-items: center;

    &.track {
      --render-mode: desktop;

      .partially-visible {
        opacity: 0.3;
        filter: blur(2px);
      }

      display: flex;
      width: 100%;
      place-items: center;
      flex-direction: column;

      .container {
        max-width: 2000px;
        display: flex;
        width: 100vw;
        flex-direction: column;
        max-height: 100vh;

        .ugc-tiles {
          display: grid;
          gap: var(--inline-tile-margin);
          width: 100%;
          height: 100%;
          overflow: hidden;
          grid-auto-columns: var(--tile-size);
          grid-template-columns: repeat(auto-fit, minmax(var(--tile-size), 1fr));
          grid-auto-flow: row;
          opacity: 0;
          visibility: hidden;

          &[variation="small"] {
            --text-caption-paragraph-font-size: 12px;
            --text-tile-user-name-font-size: 12px;
          }

          &[variation="medium"],
          &[variation="large"] {
            --text-caption-paragraph-font-size: 14px;
          }

          .ugc-tile,
          .ugc-tile-wrapper {
            align-items: center;
            background-color: var(--inline-tile-background, #000);
            color: #fff;
            font-size: 1.5em;
            cursor: pointer;
          }

          .ugc-tile {
            display: grid;
            box-sizing: border-box;
            transition: opacity 300ms ease-in;
            border-radius: var(--inline-tile-border-radius);

            .image-section {
              display: flex;
              width: 100%;
              position: relative;
              grid-area: image;
              height: 100%;
              border-radius: var(--inline-tile-border-radius);
              overflow: hidden;

              img {
                aspect-ratio: 1 / 1;
                width: 100%;
                object-fit: cover;
                border-radius: var(--inline-tile-border-radius) 0 0 var(--inline-tile-border-radius);
              }

              .center-section {
                position: absolute;
                display: flex;
                z-index: 1;
                justify-content: center;
                width: 100%;
                align-items: center;
                height: 100%;

                .icon-play {
                  top: calc(50% - 1em);
                  left: calc(50% - 1em);
                }
              }
            }

            .details-section {
              display: flex;
              flex-direction: column;
              place-items: flex-start;
              place-content: flex-start;
              aspect-ratio: 1 / 1;
              width: 100%;
              grid-area: details;

              .tile {
                display: flex;
                width: 100%;
                overflow: hidden;

                .tile-tags {
                  width: 100%;
                  margin: 0;

                  .tile-tag {
                    --tile-tag-background: #bcbbbc;
                  }
                }
              }

              .tile-message-wrapper {
                display: grid;
                grid-template-rows: calc(100% - 60px) 20px 1fr;
                grid-auto-columns: 1fr;
                height: calc(100% - 10px);
                gap: 10px;
                place-content: flex-start;
                width: calc(100% - 15px);
                grid-template-columns: 100%;
                place-self: center;
                margin-top: 5px;

                tile-content {
                  padding-top: 5px;

                  .description p {
                    margin: 0;
                  }
                }

                .footer {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
              }
            }

            .icon-section {
              display: grid;
              grid-template-areas:
                "type media"
                "shop .";
              grid-column: image-start / image-end;
              grid-row: image-start / image-end;
              z-index: 10;
              align-self: flex-start;
              height: 100%;

              > .network-icon {
                background-color: #000;
                grid-area: media;
                justify-self: flex-end;
                margin-top: 10px;
              }

              > .content-icon {
                grid-area: type;
                place-self: flex-start;
                margin: 10px 0 0 10px;
              }

              > .shopping-icon {
                grid-area: shop;
                align-self: flex-end;
                margin: 0 0 10px 10px;
              }
            }
          }

          .ugc-tile.grid-column-indent {
            position: relative;
            top: calc(var(--tile-size) / 2);
          }
        }

        &:has(.slider-loading.loading.hidden) {
          .ugc-tiles {
            opacity: 1;
            visibility: visible;
          }
        }

        .ugc-tile:nth-child(even) .ugc-tile-wrapper {
          flex-direction: row-reverse;
        }

        // Styles for Scroll Buttons
        .tiles-scroll-button {
          width: 100%;
          display: flex;
          place-items: center;
          flex-direction: column;
          cursor: pointer;
          z-index: 99;

          &#scroll-up {
            top: 0;
          }

          &#scroll-down {
            bottom: 0;
          }

          &#scroll-up,
          &#scroll-down {
            margin: 10px 0;

            .widget-icon {
              transform: rotate(90deg);
            }

            &.disabled {
              pointer-events: none;
            }
          }
        }

        #load-more {
          background: 0 0;
          margin: auto;
          padding: 12px 0;
          text-transform: uppercase;
          color: #525252;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: 24px;
          text-align: center;
          display: block;
          cursor: pointer;
          width: 100%;
          border: none;
        }

        .close {
          width: 24px;
          height: 24px;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
        }
      }
    }

    @include responsive.responsiveness-template;
  }
}
