@use "styles";
@use "responsive";

$section-height: 220px;

:host {
  transition: ease all 0.5s;
}

#nosto-ugc-container {
  display: flex;
  width: 100vw;
  place-items: center;

  .track {
    display: flex;
    width: 100%;
    place-items: center;
    flex-direction: column;

    .container {
      display: flex;
      width: 80%;
      flex-direction: column;

      .ugc-tiles {
        display: grid;
        gap: 10px; /* Space between blocks */
        width: 100%; /* Fixed Width */
        height: 600px; /* Fixed Height */
        overflow-y: hidden;

        .ugc-tile {
          display: grid;
          width: 100%;
          grid-template-columns: 50% 50%;
          grid-auto-rows: $section-height;

          .image-section {
            display: flex;
            width: 100%;
            position: relative;
          }

          .details-section {
            display: flex;
            flex-direction: column;
            place-items: flex-start;
            place-content: flex-start;
            width: calc(100% - 10px);
            margin: 10px 0 0 10px;
            height: 100%;

            .tile-message-wrapper {
              display: grid;
              grid-template-rows: 85% 15%;
              grid-auto-columns: 1fr;
              height: 100%;

              .tile-tags .tile-tag {
                --tile-tag-background: #bcbbbc;
              }
            }
          }

          img {
            width: 100%;
            height: $section-height;
            object-fit: cover;
          }
        }

        /* Style for individual blocks */
        .ugc-tile,
        .ugc-tile-wrapper {
          align-items: center;
          background-color: #000;
          color: #fff;
          border: 1px solid #ccc;
          font-size: 1.5em;
          transition: transform 0.5s ease-in-out; /* Apply transition to all blocks */
          height: $section-height;
          cursor: pointer;
        }

        .tile-image,
        .tile-video {
          justify-content: flex-start;
          height: $section-height;
          overflow: hidden;
        }
      }

      .ugc-tile:nth-child(even) .ugc-tile-wrapper {
        flex-direction: row-reverse; /* Swap image and text for even rows */
      }

      /* Small Screens: Stack all blocks vertically */
      @media (width <= 599px) {
        .ugc-tiles {
          grid-template-columns: 1fr;
        }

        .ugc-tile {
          flex-direction: column; /* Stack image and text vertically on small screens */
        }
      }

      /* Styles for Scroll Buttons */
      .tiles-scroll-button {
        width: 100%;
        height: 50px;
        display: flex;
        place-items: center;
        flex-direction: column;
        cursor: pointer;

        &#scroll-up,
        &#scroll-down {
          .widget-icon {
            transform: rotate(90deg);
          }
        }
      }

      #load-more {
        background: 0 0;
        margin: auto;
        padding: 12px 0;
        text-transform: uppercase;
        color: #525252;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        display: block;
        cursor: pointer;
        width: 100%;
        border: none;
      }

      .close {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
      }
    }
  }
}
