@use "styles";
@use "responsive";
@use "sass:math";

$space-between: 10px;

:host {
  --rendered-tile-size: var(--tile-size) * 2 + 20px;
  --width-adjustment: rem(95%, var(--rendered-tile-size));
  --container-width: calc(95% - var(--width-adjustment));

  transition: ease all 0.5s;
}

#nosto-ugc-container {
  --text-caption-paragraph-font-size: 14px;
  --tile-timephrase-display: flex;

  background-color: var(--widget-background);
  display: flex;
  width: 100vw;
  place-items: center;

  .track {
    display: flex;
    width: 100%;
    place-items: center;
    flex-direction: column;

    .container {
      display: flex;
      width: var(--container-width);
      flex-direction: column;

      .ugc-tiles {
        display: grid;
        gap: $space-between; /* Space between blocks */
        width: 100%; /* Fixed Width */
        height: calc(100vh - 100px); /* Fixed Height */
        overflow: hidden;
        justify-content: center;

        .ugc-tile,
        .ugc-tile-wrapper {
          align-items: center;
          background-color: #000;
          color: #fff;
          font-size: 1.5em;
          transition: transform 0.5s ease-in-out; /* Apply transition to all blocks */
          cursor: pointer;
        }

        .ugc-tile {
          display: grid;
          place-content: flex-start;
          height: fit-content;
          box-sizing: border-box;
          grid-column: span 2;
          grid-template: subgrid / subgrid;
          grid-template-areas: "image details";
          gap: 0;

          .image-section {
            display: flex;
            width: var(--tile-size);
            position: relative;
            grid-area: image;
            height: var(--tile-size);
          }

          .details-section {
            display: flex;
            flex-direction: column;
            place-items: flex-start;
            place-content: flex-start;
            height: var(--tile-size);
            width: var(--tile-size);
            grid-area: details;

            .tile {
              display: flex;
              height: fit-content;

              .tile-tags {
                width: 100%;
                margin: 0;

                .tile-tag {
                  --tile-tag-background: #bcbbbc;
                }
              }
            }

            .tile-message-wrapper {
              display: grid;
              grid-template-rows: calc(100% - 70px) 20px 15px;
              grid-auto-columns: 1fr;
              height: calc(100% - 10px);
              padding: 10px 0 0 10px;
              gap: 10px;
              place-content: flex-start;
              width: calc(100% - 10px);

              tile-content {
                .description p {
                  margin: 0;
                }
              }

              .footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
            }
          }

          img {
            width: 100%;
            object-fit: cover;
          }

          .icon-section {
            display: grid;
            grid-template-areas:
              "type media"
              "shop .";
            grid-column: image-start / image-end;
            grid-row: image-start / image-end;
            z-index: 10;
            align-self: flex-start;
            height: 100%;

            > .network-icon {
              background-color: #000;
              grid-area: media;
              justify-self: flex-end;
              margin-top: 10px;
            }

            > .content-icon {
              grid-area: type;
              place-self: flex-start;
              margin: 10px 0 0 10px;
            }

            > .shopping-icon {
              grid-area: shop;
              align-self: flex-end;
              margin: 0 0 10px 10px;
            }
          }

          &:nth-child(2n) {
            grid-template-areas: "details image";

            .icon-section {
              grid-template-areas:
                "media type"
                ". shop";

              > .network-icon {
                place-self: flex-start;
              }

              > .content-icon {
                justify-self: flex-end;
                margin: 10px 10px 0 0;
              }

              > .shopping-icon {
                place-self: flex-end;
                margin: 0 10px 10px 0;
              }
            }
          }

          &:nth-child(4n-1),
          &:nth-child(4n) {
            min-width: initial;
            grid-column: auto;
            grid-row: span 2;
          }

          &:nth-child(4n-1) {
            grid-template-areas:
              "image"
              "details";

            .icon-section {
              grid-template-areas:
                "type shop"
                "media .";

              > .network-icon {
                place-self: flex-end center;
                grid-column: span 2;
              }

              > .content-icon {
                place-self: flex-start;
                margin: 10px 0 0 10px;
              }

              > .shopping-icon {
                place-self: flex-start flex-end;
                margin: 10px 10px 0 0;
              }
            }
          }

          &:nth-child(4n) {
            grid-template-areas:
              "details"
              "image";

            .icon-section {
              grid-template-areas:
                "media ."
                "type shop";

              > .network-icon {
                place-self: flex-start center;
                grid-column: span 2;
                margin: 0;
              }

              > .content-icon {
                place-self: flex-end flex-start;
                margin: 0 0 10px 10px;
              }

              > .shopping-icon {
                place-self: flex-end;
                margin: 0 10px 10px 0;
              }
            }
          }
        }
      }

      .ugc-tile:nth-child(even) .ugc-tile-wrapper {
        flex-direction: row-reverse; /* Swap image and text for even rows */
      }

      /* Small Screens: Stack all blocks vertically */
      @media (width <= 599px) {
        .ugc-tiles {
          grid-template-columns: 1fr;
        }

        .ugc-tile {
          flex-direction: column; /* Stack image and text vertically on small screens */
        }
      }

      /* Styles for Scroll Buttons */
      .tiles-scroll-button {
        width: 100%;
        height: 50px;
        display: flex;
        place-items: center;
        flex-direction: column;
        cursor: pointer;

        &#scroll-up,
        &#scroll-down {
          .widget-icon {
            transform: rotate(90deg);
          }

          &.disabled {
            pointer-events: none;
          }
        }
      }

      #load-more {
        background: 0 0;
        margin: auto;
        padding: 12px 0;
        text-transform: uppercase;
        color: #525252;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        display: block;
        cursor: pointer;
        width: 100%;
        border: none;
      }

      .close {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
      }
    }
  }
}
