.stacklapopup-products-item-title-wrap {
  text-decoration: none;
  padding-top: 20px;
}

.stacklapopup-products-header {
  padding-top: 20px;
}

.stacklapopup-products-item-title {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}

.stacklapopup-products-item-price {
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}

.stacklapopup-products-wrap {
  padding: 10px 0;
}

.stacklapopup-product-images-wrapper {
  max-width: 100%;
}

.stacklapopup-products-item-description {
  color: black;
  font-size: 14px;
  font-weight: 400;
  max-width: 99%;
}

.stacklapopup-shopspot-cart,
.stacklapopup-products-item-button {
  color: var(--shopspot-btn-font-color);
  background-color: var(--shopspot-btn-background);
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 300px;
}
