$container-max-width-lg: 891px;
$container-max-height-lg: 90vh;
$border-radius: 5px;

// tile loading icon
$loading-width: 30px;
$loading-height: 30px;
$play-icon-width: 30px;
$play-icon-height: 30px;
$back-icon-height: 56px;
