.stacklapopup-products-item-button {
  background-color: var(--cta-button-background-color);
  color: var(--cta-button-font-color);
  font-size: var(--cta-button-font-size);
}

.swiper-expanded-product-recs {
  width: 90%;

  .swiper-slide {
    width: 84.9px !important;
    height: 110px !important;
  }
}

.swiper-exp-product-recs-button-prev.swiper-button-prev {
  left: 0;
}

.swiper-exp-product-recs-button-next.swiper-button-next {
  right: 0;
}
