@use "styles" as carouselStyles;
@use "@styles/partials/media-queries";
@use "dimens";

#nosto-ugc-container {
  transition: ease all 0.5s;
  background-color: var(--widget-background);
  display: flex;
  place-items: center;
  margin: dimens.$nosto-container-margin;
  height: calc(var(--tile-size) + 30px);

  .story-inline.swiper-inline {
    width: 95%;
  }
}

.hidden {
  display: none;
}

@include media-queries.breakpoint(mobile) {
  #nosto-ugc-container {
    height: auto;

    .story-inline.swiper-inline {
      width: dimens.$swiper-container-width-md !important;

      .swiper-slide {
        width: 100% !important;
      }
    }

    .tile {
      width: dimens.$tile-width-md !important;
      height: dimens.$tile-height-md !important;

      .icon-section {
        width: dimens.$tile-width-md;
      }
    }
  }
}
