:host {
  padding: 0;
  box-sizing: border-box;
  margin: 30px auto;
  max-width: 1060px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exit {
  position: absolute;
  top: 20px;
  right: 20px;
}

.panel {
  display: flex;
  position: relative;
  background: #fff;
  width: 85%;
  height: 100%;
}

.panel-left {
  min-width: 40%;
  max-width: 40%;
  background: #fff;
  display: flex;
  place-content: center center;
  align-items: center;
}

.panel-left img {
  width: 100%;
}

.panel-right {
  padding: 26px 40px;
}

.tile-arrows-left {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: -60px;
  border: 0;
  background: none;
  z-index: 2;
}

.tile-arrows-right {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: -60px;
  border: 0;
  background: none;
  z-index: 2;
}

.widget-icon {
  display: block;
}

.tile-arrows .widget-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

div.image {
  position: relative;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

.image-wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-info-wrapper {
  text-align: left;
}

.user-info-wrapper a {
  color: #666;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  line-height: 1.4;
}

.user-top {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

.user-bottom {
  font-size: 1.2em;
  font-weight: 300;
}

.caption-paragraph {
  color: #090909;
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  width: 100%;
  word-break: break-word;
}

html {
  background: var(--widget-background);
}

.ugc-tile {
  width: var(--max-tile-width);
  background: var(--text-tile-background);
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.caption {
  font-size: var(--text-tile-font-size);
  color: var(--text-tile-font-color);
}

.content-inner-wrapper a {
  color: var(--text-tile-link-color);
}

.user-name {
  font-size: var(--text-tile-user-name-font-size);
  color: var(--text-tile-user-name-font-color);
}

.user-handle {
  font-size: var(--text-tile-user-handle-font-size);
  color: var(--text-tile-user-handle-font-color);
}

.tile-timestamp {
  color: #ababab;
  display: inline-block;
  font-size: 12px;
  padding-right: 20px;
  text-align: left;
  width: 100%;
}

.ugc-inline-share-buttons {
  margin: 16px;
  text-align: right;
}

.tile-caption {
  margin-top: 15px;
  display: --show-caption;
  text-align: left;
}
