<div id="starter-container" class="animate__animated animate__bounce">
    <div class="toast-container" id="toast-container"></div>
    <div class="ugc-tiles grid grid-inline">
        {{#tiles}}
        {{>tpl-tile}}
        {{/tiles}}
    </div>
    <load-more />
    <div id="load-more-loader" class="hidden">
        <div class="loading"></div>
    </div>
</div>
