.widget-icon {
  display: block;
}

.close {
  width: 24px;
  height: 24px;
  background-image: url("assets/svg/close-black.svg");
  background-repeat: no-repeat;
}

.close-white {
  width: 26px;
  height: 26px;
  background-image: url("assets/svg/close-white.svg");
  background-repeat: no-repeat;
}

.chevron-left {
  width: 40px;
  height: 40px;
  background-image: url("assets/svg/chevron-left.svg");
  background-repeat: no-repeat;
}

.chevron-left-inline {
  width: 36px;
  height: 36px;
  background-image: url("assets/svg/chevron-left-inline.svg");
  background-repeat: no-repeat;
}

.chevron-right {
  width: 40px;
  height: 40px;
  background-image: url("assets/svg/chevron-right.svg");
  background-repeat: no-repeat;
}

.chevron-right-inline {
  width: 36px;
  height: 36px;
  background-image: url("assets/svg/chevron-right-inline.svg");
  background-repeat: no-repeat;
}

.icon-share {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url("assets/svg/share-white.svg");
  background-repeat: no-repeat;

  &.light {
    background: url("assets/svg/share-black.svg");
    height: 13px;
    width: 13px;
    background-repeat: no-repeat;
  }
}

.icon-instagram-share {
  width: 34px;
  height: 34px;
  background-size: contain;
  background-image: url("assets/svg/instagram-share.svg");
  background-repeat: no-repeat;
}

.icon-x-share {
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 34px;
  position: relative;
  width: 34px;
}

.icon-x-share::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-size: contain;
  background-image: url("assets/svg/x-share.svg");
  background-repeat: no-repeat;
}

.icon-linkedin-share {
  width: 34px;
  height: 34px;
  background-size: contain;
  background-image: url("assets/svg/linkedin-share.svg");
  background-repeat: no-repeat;
}

.icon-facebook-share {
  width: 34px;
  height: 34px;
  background-size: contain;
  background-image: url("assets/svg/facebook-share.svg");
  background-repeat: no-repeat;
}

.icon-pinterest-share {
  width: 34px;
  height: 34px;
  background-size: contain;
  background-image: url("assets/svg/pinterest-share.svg");
  background-repeat: no-repeat;
}

.icon-email-share {
  width: 37px;
  height: 30px;
  background-size: contain;
  background-image: url("assets/svg/email-share.svg");
  background-repeat: no-repeat;
}

.chevron-up {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("assets/svg/chevron-up.svg");
  background-repeat: no-repeat;
}

.chevron-down {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("assets/svg/chevron-down.svg");
  background-repeat: no-repeat;
}

.back-arrow {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("assets/svg/back-arrow.svg");
  background-repeat: no-repeat;
}

.icon-vimeo {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/vimeo.svg");
  background-repeat: no-repeat;

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-instagram,
.icon-instagram.large,
.icon-instagram.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/instagram.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/instagram-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-twitter,
.icon-twitter.large,
.icon-twitter.medium {
  display: flex;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-image: url("assets/svg/twitter.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/x-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-linkedin,
.icon-linkedin.large,
.icon-linkedin.medium {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-image: url("assets/svg/linkedin.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/linkedin-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-tiktok,
.icon-tiktok.large,
.icon-tiktok.medium {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-image: url("assets/svg/tiktok.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/tiktok-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-facebook,
.icon-facebook.large,
.icon-facebook.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/facebook.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/facebook-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-reel,
.icon-reel.large,
.icon-reel.medium {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-image: url("assets/svg/reel.svg");
  background-repeat: no-repeat;

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-products {
  width: 14px;
  height: 14px;
  background-size: contain;
  background-image: url("assets/svg/products.svg");
  background-repeat: no-repeat;

  &.small {
    width: 10px;
    height: 10px;
  }
}

.icon-products-bg,
.icon-products-bg.large,
.icon-products-bg.medium {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("assets/svg/products-bg.svg");
  background-repeat: no-repeat;

  &.small {
    width: 18px;
    height: 18px;
  }
}

.icon-youtube,
.icon-youtube.large,
.icon-youtube.medium {
  width: 22px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/youtube.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/youtube-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-youtube-short,
.icon-youtube-short.large,
.icon-youtube-short.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/youtube-short.svg");
  background-repeat: no-repeat;

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-flickr,
.icon-flickr.large,
.icon-flickr.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/flickr.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/flickr-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-weibo,
.icon-weibo.large,
.icon-weibo.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/weibo.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/weibo-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-pinterest,
.icon-pinterest.large,
.icon-pinterest.medium {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-image: url("assets/svg/pinterest.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/pinterest-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-rss,
.icon-rss.large,
.icon-rss.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/rss.svg");
  background-repeat: no-repeat;

  &.black {
    background-image: url("assets/svg/rss-black.svg");
  }

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-tumblr,
.icon-tumblr.large,
.icon-tumblr.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/tumblr.svg");
  background-repeat: no-repeat;

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-stackla,
.icon-stackla.large,
.icon-stackla.medium,
.icon-sta_feed,
.icon-sta_feed.large,
.icon-sta_feed.medium {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-image: url("assets/svg/stackla.svg");
  background-repeat: no-repeat;

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-snapchat,
.icon-snapchat.large,
.icon-snapchat.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/snapchat.svg");
  background-repeat: no-repeat;

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-spotify,
.icon-spotify.large,
.icon-spotify.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/spotify.svg");
  background-repeat: no-repeat;

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-hootsuite,
.icon-hootsuite.large,
.icon-hootsuite.medium {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/hootsuite.svg");
  background-repeat: no-repeat;

  &.small {
    width: 12px;
    height: 12px;
  }
}

.icon-prev {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/prev.svg");
  background-repeat: no-repeat;
}

.icon-prev-white {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/prev-white.svg");
  background-repeat: no-repeat;
}

.icon-prev-circle {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("assets/svg/prev-circle.svg");
  background-repeat: no-repeat;
}

.icon-next {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/next.svg");
  background-repeat: no-repeat;
}

.icon-next-white {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("assets/svg/next-white.svg");
  background-repeat: no-repeat;
}

.icon-next-circle {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("assets/svg/next-circle.svg");
  background-repeat: no-repeat;
}

.icon-play {
  width: 2em;
  height: 2em;
  background-size: contain;
  background-image: url("assets/svg/play.svg");
  background-repeat: no-repeat;
}

.icon-upload {
  background-image: url("assets/svg/upload.svg");
  height: 15px;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-picture {
  background-image: url("assets/svg/picture.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  position: absolute;
}

.icon-tag {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("assets/svg/tag.svg");
  background-repeat: no-repeat;

  &.small {
    width: 18px;
    height: 18px;
  }
}
