@use "sass:map";

$breakpoints: (
  mobile: 576px,
  tablet: 577px,
  desktop: 992px
);

@mixin media-query-target($point) {
  @if $point == mobile {
    @media (max-width: map.get($breakpoints, tablet)) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: map.get($breakpoints, desktop)) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: map.get($breakpoints, desktop)) {
      @content;
    }
  }
}

// Can be utilised by using : @include breakpoint(mobile) { ... }
@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: map.get($breakpoints, mobile)) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: map.get($breakpoints, tablet)) and (max-width: map.get($breakpoints, desktop)) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: map.get($breakpoints, desktop)) {
      @content;
    }
  }
}
