@use "../partials/media-queries";
@use "./inline-dimens" as dimens;

.expanded-tile-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: rgb(0 0 0 / 90%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-overlay {
  display: none;
  position: absolute;
  background-color: rgb(0 0 0 / 40%);
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: dimens.$story-border-radius;
  z-index: 10;
}

@include media-queries.breakpoint(tablet) {
  .expanded-tile-overlay {
    align-items: flex-start;
    overflow: hidden;
  }
}
