.close-white {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z' style='fill: %23fff;'/%3E%3C/svg%3E");
}

.close {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
}

:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition:
    visibility 0s,
    opacity 0.5s;
  margin: auto;
  max-width: 1060px;
  z-index: 1;
  overflow: visible;
}

.exit {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.panel {
  display: flex;
  position: relative;
  background: #000;
  width: 100%;
  height: 100%;
}

.panel-left {
  min-width: 40%;
  max-width: 40%;
  background: #fff;
  display: flex;
  place-content: center center;
  align-items: center;
}

.panel-left img {
  width: 100%;
}

.panel-right {
  padding: 26px 40px;
}

.tile-arrows-left {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: -60px;
  border: 0;
  background: none;
}

.tile-arrows-right {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: -60px;
  border: 0;
  background: none;
}

.widget-icon {
  display: block;
}

.tile-arrows .widget-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

div.image {
  position: relative;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

.image-wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-info-wrapper {
  text-align: left;
}

.user-info-wrapper a {
  color: #666;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  line-height: 1.4;
}

.user-top {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

.user-bottom {
  font-size: 1.2em;
  font-weight: 300;
}

.caption-paragraph {
  color: #090909;
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  width: 100%;
  word-break: break-word;
}

html {
  background: var(--widget-background);
}

.ugc-tile {
  width: var(--max-tile-width);
  background: var(--text-tile-background);
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.caption {
  font-size: var(--text-tile-font-size);
  color: var(--text-tile-font-color);
}

.content-inner-wrapper a {
  color: var(--text-tile-link-color);
}

.user-name {
  font-size: var(--text-tile-user-name-font-size);
  color: var(--text-tile-user-name-font-color);
}

.user-handle {
  font-size: var(--text-tile-user-handle-font-size);
  color: var(--text-tile-user-handle-font-color);
}

.tile-timestamp {
  color: #ababab;
  display: inline-block;
  font-size: 12px;
  padding-right: 20px;
  text-align: left;
  width: 100%;
}

.quadrant-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.group-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
  height: 800px;
}

.grid-item {
  position: relative;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  overflow: hidden;
  height: 200px;
  cursor: pointer;
}

.grid-item img {
  transition: transform 0.3s ease;
  inset: 0;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.grid-item:hover img {
  transform: scale(1.1);
}

.tile-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 70%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item:hover .tile-info-overlay {
  opacity: 1;
}

.grid-item:hover .tile-info-overlay p {
  padding: 0 10px;
}

.grid-item.large {
  grid-column: span 2;
  height: 400px;
}

#load-more {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Mobile Responsiveness */
@media (width <= 600px) {
  .quadrant-grid-container {
    width: 100%;
    padding: 0 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .group-container {
    grid-template-columns: 1fr;
  }

  .grid-item.large {
    grid-column: span 1;
  }
}

.expanded-tile-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0.9;
}
