// standard border radius
$border-radius: 5px;

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  color: white;
  text-align: center;
  border-radius: $border-radius;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: var(--tile-size);
  margin: var(--margin);
  box-sizing: border-box;
  object-fit: cover;
}
