$icon-placement-top: 8px;
$icon-placement-bottom: 8px;
$icon-placement-left: 8.67px;
$icon-placement-right: 8.67px;
$icon-absolute-positioning-right: 0;

.tile-tags {
  margin: 0;
  flex-grow: 1;
}

.icon-section {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;

  .top-section,
  .bottom-section {
    display: flex;
    position: absolute;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    align-items: center;
  }

  .top-section {
    top: $icon-placement-top;

    .content-icon {
      margin-left: $icon-placement-left;
    }

    .shopping-icon {
      margin-left: auto;
      margin-right: $icon-placement-right;
    }
  }

  .bottom-section {
    bottom: $icon-placement-bottom;

    .tile-tags {
      margin-left: $icon-placement-left;
    }

    .network-icon {
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: $icon-placement-right;
      position: absolute;
      right: $icon-absolute-positioning-right;
    }
  }

  .center-section {
    position: absolute;
    display: flex;
    z-index: 1;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
  }
}

.tile-timephrase {
  color: #b9bab9;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  display: var(--tile-timephrase-display);
}