@forward "pkg:swiper/swiper-bundle.css";
@use "@styles/partials/fonts";
@forward "@styles/partials/icons";
@forward "@styles/partials/loading";
@forward "inline-tile";
@forward "@styles/partials/tile-overlay";
@forward "@styles/templates/expanded-tiles";
@forward "@styles/templates/swiper-overrides";
@use "@styles/templates/story-line-expanded";
@use "@styles/templates/tile-content" as tc;
@use "@styles/templates/shopspot-icon" as sicon;
@use "@styles/templates/time-phrase" as tphrase;
@use "@styles/templates/share-menu" as smenu;
@use "icon-sections-override";
@use "tile-content-override";
@use "@styles/templates/tags";
@use "@styles/partials/expanded-swiper" as es;
@use "@styles/partials/inline";

.story-inline,
expanded-tiles {
  @include sicon.shopspot-icon-styles;
  @include tphrase.time-phrase-styles;
  @include smenu.share-menu-styles;
  @include tags.tile-tags-styles;
  @include es.swiper-expanded-styles;
}
