{{#tile class="swiper-slide" }}
<div class="tile">
  <div class="tile-loading"></div>
  <div class="icon-section hidden">
    <div class="top-section">
      {{#if tags_extended.length}}
      <div class="shopping-icon icon-products-bg {{options.style.inline_tile_size}}"></div>
      {{/if}}
    </div>
    <div class="center-section">
      <div class="network-icon icon-{{source}}"></div>
    </div>
    <div class="bottom-section">
      {{#if tags_extended.length}}
      <div class="shopping-icon icon-tag"></div>
      {{/if}}
    </div>
  </div>
  <div class="tile-image-wrapper">
    <div class="story-overlay"></div>
    {{#lazy image_thumbnail_url }}{{/lazy}}
    <div class="swiper-lazy-preloader"></div>
  </div>
</div>
{{/tile}}