$nosto-container-height: 100%;

$tile-width-lg: 210px;
$tile-height-lg: 210px;
$swiper-container-width-lg: 95%;

$tile-width-md: 95%;
$tile-height-md: 100%;
$swiper-container-width-md: auto;
$swiper-slide-width-md: 90%;

$loading: (
  "width": 30px,
  "height": 30px
);

$play-icon: (
  "width": 30px,
  "height": 30px
);
