@use "@styles/partials/fonts";
@forward "pkg:swiper/swiper-bundle.css";
@forward "@styles/partials/icons";
@forward "@styles/partials/loading";
@forward "inline-tile";
@forward "@styles/partials/tile-overlay";
@forward "@styles/templates/expanded-tiles";
@forward "@styles/templates/swiper-overrides";
@use "@styles/partials/inline";
@use "@styles/templates/tile-content" as tc;
@use "@styles/templates/shopspot-icon" as sicon;
@use "@styles/templates/time-phrase" as tphrase;
@use "@styles/templates/share-menu" as smenu;
@use "@styles/partials/icon-sections" as is;
@use "@styles/partials/expanded-swiper" as es;
@use "@styles/templates/tags";

.carousel-inline,
expanded-tiles {
  @include is.icon-sections-styles;
  @include sicon.shopspot-icon-styles;
  @include tphrase.time-phrase-styles;
  @include smenu.share-menu-styles;
  @include tc.tile-content-styles;
  @include tags.tile-tags-styles;
  @include es.swiper-expanded-styles;
}
