:host {
  --default-tile-width: 210px;
  --default-tile-height: 210px;
  --mobile-tile-width: 95%;
  --mobile-tile-height: 100%;
  --inline-swiper-container-width: 95%;
  --inline-mobile-swiper-container-width: auto;
  --inline-mobile-swiper-slide-width: 90%;
  --inline-nosto-container-height: 100%;
}
