<div class="track swiper carousel-inline swiper-inline" style="display:none;">
	<div class="swiper-wrapper ugc-tiles">
		{{#tiles}}
		{{>tpl-tile options=../options.config}}
		{{/tiles}}
	</div>
</div>
<div class="swiper-inline-carousel-button-prev swiper-button-prev btn-lg">
	<span class="swiper-nav-icon icon-prev-circle" />
</div>
<div class="swiper-inline-carousel-button-next swiper-button-next btn-lg">
	<span class="swiper-nav-icon icon-next-circle" />
</div>
