<div class="track swiper swiper-inline">
	<div class="swiper-wrapper">
		{{#tiles}}
		{{>tpl-tile}}
		{{/tiles}}
	</div>
</div>
<div class="swiper-expanded-button-prev swiper-button-prev">
    <span class="chevron-left" />
</div>
<div class="swiper-expanded-button-next swiper-button-next">
    <span class="chevron-right" />
</div>