<div class="track swiper swiper-inline">
	<div class="swiper-wrapper">
		{{#tiles}}
		{{>tpl-tile}}
		{{/tiles}}
	</div>
</div>
<div class="swiper-inline-button-prev swiper-button-prev"></div>
<div class="swiper-inline-button-next swiper-button-next"></div>