  .swiper {
    height: 210px;
    
    .swiper-slide {
      width: 210px !important;
    }
  }

  .tile-img img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    opacity: 1;
  }
  