.swiper {
  width: 90%;
  display: flex;

  .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;

    > .ugc-tile {
      width: 100%;

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        opacity: 1;
      }
    }
  }

  &:not(.swiper-initialized) {
    .swiper-slide > .ugc-tile > img {
      opacity: 0;
    }
  }
}

.swiper-button-next,
.swiper-button-prev,
.swiper-expanded-button-next,
.swiper-expanded-button-prev {
  --swiper-navigation-size: 35px;
  background-color: #dfdfdf;
  border-radius: 100%;
  border: 2px solid #dfdfdf;
  color: #000;
  width: var(--swiper-navigation-size);
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-expanded-button-next::after,
.swiper-expanded-button-prev::after {
  --swiper-navigation-size: 20px;
}
