{{#tile class="swiper-slide"}}
  <div class="tile-hover inactive">
    <ul class="tile-tags">
      {{#tags_extended}}
      <li class="tile-tag"><a href="{{custom_url}}">{{tag}}</a></li>
      {{/tags_extended}}
    </ul>
  </div>
  {{#ifequals media "video"}}
    <div class="play-icon"></div>
  {{/ifequals}}
  <div class="swiper-lazy-preloader"></div>
  <span class="tile-timephrase">{{time_ago}}</span>
  <shopspot-icon tile-id="{{id}}"></shopspot-icon>
{{/tile}}