@import "@templates/tags/tags.scss";
@import "@styles/inline-tile.scss";
@import "@styles/mixins.scss";

#nosto-ugc-container {
  height: 210px;

  .tile {
    width: 210px;
    height: 210px;
  }
}

.hidden {
  display: none;
}

.expanded-tile-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: rgb(0 0 0 / 90%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include breakpoint(mobile) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
