.tile-timephrase {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgb(255 255 255 / 60%);
  border-radius: 2px;
  font-size: 12px;
  display: var(--tile-timephrase-display);
}

#nosto-ugc-container {
  height: fit-content;
}

.swiper {
  height: 300px;

  .swiper-slide {
    align-items: center;

    > .ugc-tile {
      width: 100%;

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        opacity: 1;
      }
    }
  }
}

.tile-image,
.tile-video {
  position: relative;
}

.hidden {
  display: none;
}

.expanded-tile-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgb(0 0 0 / 90%);
  z-index: 2;
  cursor: pointer;
}
