@use "styles" as carouselStyles;

:host {
  transition: ease all 0.5s;
}

#nosto-ugc-container {
  background-color: var(--widget-background);
  display: flex;
  place-items: center;
  margin: carouselStyles.$nosto-container-margin;
  width: calc(100% - (carouselStyles.$nosto-container-margin * 2));
  height: var(--tile-size);

  .swiper {
    width: carouselStyles.$swiper-container-width-lg;
  }

  .icon-section {
    display: flex;
    position: absolute;
    height: 100%;
  }
}

.hidden {
  display: none;
}

@include carouselStyles.breakpoint(mobile) {
  #nosto-ugc-container {
    height: auto;

    .swiper-inline {
      width: carouselStyles.$swiper-container-width-md !important;

      .swiper-slide {
        width: 100% !important;
      }
    }

    .tile {
      width: carouselStyles.$tile-width-md !important;
      height: carouselStyles.$tile-height-md !important;

      .icon-section {
        width: carouselStyles.$tile-width-md;
      }
    }
  }
}
