
html {
  background: var(--widget-background);
}

.ugc-tile {
  width: var(--max-tile-width) px;
  background: var(--text-tile-background);
  margin: var(--margin) px;
}

.content-inner-wrapper a {
  color: var(--text-tile-link-color);
}

.tile-timestamp {
  color: #ababab;
  display: inline-block;
  font-size: 12px;
  padding-right: 20px;
  text-align: left;
  width: 100%;
}

.swiper {
  height: calc(100% - 50px);

  .swiper-slide {
    align-items: flex-start;

    div.image-filler {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      filter: blur(50px) brightness(0.5);
      inset: 0;
      transform: scale(1.2);
    }
  }
}
