html {
  background: var(--widget-background);
}

.ugc-tile {
  width: var(--max-tile-width) px;
  background: var(--text-tile-background);
  margin: var(--margin) px;
}
.content-inner-wrapper a {
  color: var(--text-tile-link-color);
}

.tile-tags {
  margin: 0 16.4px 8.4px 0;
}

.tile-timestamp {
  color: #ababab;
  display: inline-block;
  font-size: 12px;
  padding-right: 20px;
  text-align: left;
  width: 100%;
}

.expanded-tile-wrapper {
  width: 100%;
}

.product-bag-icon {
  display: block;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2222%22 height=%2222%22 viewBox=%220%200%2022%2022%22 fill=%22none%22%3E%3Cg filter=%22url(%23filter0_d_2295_5636)%22%3E%3Cpath d=%22M5.79405%2018C5.39683%2018%205.05679%2017.8694%204.77391%2017.6083C4.49104%2017.3472%204.34961%2017.0333%204.34961%2016.6667V8.66667C4.34961%208.3%204.49104%207.98611%204.77391%207.725C5.05679%207.46389%205.39683%207.33333%205.79405%207.33333H7.2385C7.2385%206.41111%207.59058%205.625%208.29475%204.975C8.99891%204.325%209.85054%204%2010.8496%204C11.8487%204%2012.7003%204.325%2013.4045%204.975C14.1086%205.625%2014.4607%206.41111%2014.4607%207.33333H15.9052C16.3024%207.33333%2016.6424%207.46389%2016.9253%207.725C17.2082%207.98611%2017.3496%208.3%2017.3496%208.66667V16.6667C17.3496%2017.0333%2017.2082%2017.3472%2016.9253%2017.6083C16.6424%2017.8694%2016.3024%2018%2015.9052%2018H5.79405ZM5.79405%2016.6667H15.9052V8.66667H5.79405V16.6667ZM10.8496%2012.6667C11.8487%2012.6667%2012.7003%2012.3417%2013.4045%2011.6917C14.1086%2011.0417%2014.4607%2010.2556%2014.4607%209.33333H13.0163C13.0163%209.88889%2012.8056%2010.3611%2012.3843%2010.75C11.963%2011.1389%2011.4515%2011.3333%2010.8496%2011.3333C10.2478%2011.3333%209.73618%2011.1389%209.31489%2010.75C8.89359%2010.3611%208.68294%209.88889%208.68294%209.33333H7.2385C7.2385%2010.2556%207.59058%2011.0417%208.29475%2011.6917C8.99891%2012.3417%209.85054%2012.6667%2010.8496%2012.6667ZM8.68294%207.33333H13.0163C13.0163%206.77778%2012.8056%206.30556%2012.3843%205.91667C11.963%205.52778%2011.4515%205.33333%2010.8496%205.33333C10.2478%205.33333%209.73618%205.52778%209.31489%205.91667C8.89359%206.30556%208.68294%206.77778%208.68294%207.33333Z%22 fill=%22white%22/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id=%22filter0_d_2295_5636%22 x=%220.349609%22 y=%220%22 width=%2221%22 height=%2222%22 filterUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22sRGB%22%3E%3CfeFlood flood-opacity=%220%22 result=%22BackgroundImageFix%22/%3E%3CfeColorMatrix in=%22SourceAlpha%22 type=%22matrix%22 values=%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22 result=%22hardAlpha%22/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation=%222%22/%3E%3CfeComposite in2=%22hardAlpha%22 operator=%22out%22/%3E%3CfeColorMatrix type=%22matrix%22 values=%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.25%200%22/%3E%3CfeBlend mode=%22normal%22 in2=%22BackgroundImageFix%22 result=%22effect1_dropShadow_2295_5636%22/%3E%3CfeBlend mode=%22normal%22 in=%22SourceGraphic%22 in2=%22effect1_dropShadow_2295_5636%22 result=%22shape%22/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  position: absolute;
  right: 10.6px;
  top: 10px;
}

.youtube-reels-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220%200%2020%2020%22 fill=%22none%22%3E%3Cg filter=%22url(%23filter0_d_2327_5637)%22%3E%3Cpath d=%22M7.02784%203H12.9722C14.0783%203%2015.0847%203.45117%2015.8148%204.17578C16.5461%204.90153%2017%205.90299%2017%207.00358V12.9976C17%2014.0959%2016.5461%2015.0962%2015.8171%2015.8219L15.8148%2015.8242C15.0835%2016.55%2014.0771%2017%2012.9733%2017H7.02784C5.92058%2017%204.91305%2016.5488%204.1829%2015.8242L4.1554%2015.7935C3.44244%2015.0711%203%2014.0822%203%2012.9964V7.00358C3%205.90186%203.45276%204.90153%204.1829%204.17578C4.91305%203.45003%205.91944%203%207.02784%203ZM13.4891%206.53418L13.4971%206.54671H15.973C15.8733%205.89958%2015.5626%205.31852%2015.1156%204.87305C14.5654%204.32617%2013.8066%203.98665%2012.9722%203.98665H11.9555L13.4891%206.53418ZM12.344%206.54671L10.8024%203.98665H7.42099L8.98101%206.54671H12.344ZM7.82676%206.54671L6.31832%204.06982C5.76699%204.20199%205.27297%204.48568%204.8844%204.87305C4.43737%205.31738%204.12789%205.89958%204.02702%206.54671H7.82676ZM16.0074%207.53337H3.99263V12.9976C3.99263%2013.8145%204.32389%2014.5584%204.85918%2015.103L4.8844%2015.127C5.43458%2015.6738%206.19453%2016.0145%207.02784%2016.0145H12.9722C13.8066%2016.0145%2014.5654%2015.675%2015.1145%2015.1292L15.1168%2015.127C15.6658%2014.5812%2016.0074%2013.827%2016.0074%2012.9976V7.53337ZM8.84002%209.26058L11.9153%2011.2487C11.9646%2011.2806%2012.0093%2011.3216%2012.0449%2011.3717C12.1847%2011.5734%2012.1331%2011.8503%2011.9302%2011.9893L8.86753%2013.786C8.79073%2013.8486%208.69216%2013.8862%208.58326%2013.8862C8.33568%2013.8862%208.13509%2013.6868%208.13509%2013.4408V9.62516H8.13738C8.13738%209.53744%208.16375%209.44857%208.21762%209.37109C8.35975%209.16943%208.63828%209.12044%208.84002%209.26058Z%22 fill=%22white%22/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id=%22filter0_d_2327_5637%22 x=%220%22 y=%220%22 width=%2220%22 height=%2220%22 filterUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22sRGB%22%3E%3CfeFlood flood-opacity=%220%22 result=%22BackgroundImageFix%22/%3E%3CfeColorMatrix in=%22SourceAlpha%22 type=%22matrix%22 values=%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22 result=%22hardAlpha%22/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation=%221.5%22/%3E%3CfeComposite in2=%22hardAlpha%22 operator=%22out%22/%3E%3CfeColorMatrix type=%22matrix%22 values=%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.25%200%22/%3E%3CfeBlend mode=%22normal%22 in2=%22BackgroundImageFix%22 result=%22effect1_dropShadow_2327_5637%22/%3E%3CfeBlend mode=%22normal%22 in=%22SourceGraphic%22 in2=%22effect1_dropShadow_2327_5637%22 result=%22shape%22/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E');
  position: absolute;
  left: 10px;
  top: 10px;
}

.instagram-icon {
  display: block;
  width: 14px;
  height: 14px;
  background-size: contain;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2214%22 height=%2214%22 viewBox=%220%200%2014%2014%22 fill=%22none%22%3E%3Cpath d=%22M6.99722%201.26136C8.86667%201.26136%209.08611%201.2697%209.825%201.30304C10.5083%201.3336%2010.8778%201.44751%2011.125%201.54475C11.4528%201.67255%2011.6861%201.82258%2011.9306%202.06708C12.175%202.31157%2012.3278%202.54495%2012.4528%202.87279C12.5472%203.12006%2012.6639%203.48958%2012.6944%204.17305C12.7278%204.91209%2012.7361%205.13157%2012.7361%207.00139C12.7361%208.87121%2012.7278%209.09069%2012.6944%209.82973C12.6639%2010.5132%2012.55%2010.8827%2012.4528%2011.13C12.325%2011.4578%2012.175%2011.6912%2011.9306%2011.9357C11.6861%2012.1802%2011.4528%2012.333%2011.125%2012.458C10.8778%2012.5525%2010.5083%2012.6692%209.825%2012.6997C9.08611%2012.7331%208.86667%2012.7414%206.99722%2012.7414C5.12778%2012.7414%204.90833%2012.7331%204.16944%2012.6997C3.48611%2012.6692%203.11667%2012.5553%202.86944%2012.458C2.54167%2012.3302%202.30833%2012.1802%202.06389%2011.9357C1.81944%2011.6912%201.66667%2011.4578%201.54167%2011.13C1.44722%2010.8827%201.33056%2010.5132%201.3%209.82973C1.26667%209.09069%201.25833%208.87121%201.25833%207.00139C1.25833%205.13157%201.26667%204.91209%201.3%204.17305C1.33056%203.48958%201.44444%203.12006%201.54167%202.87279C1.66944%202.54495%201.81944%202.31157%202.06389%202.06708C2.30833%201.82258%202.54167%201.66978%202.86944%201.54475C3.11667%201.45029%203.48611%201.3336%204.16944%201.30304C4.90833%201.26692%205.13056%201.26136%206.99722%201.26136ZM6.99722%200C5.09722%200%204.85833%200.00833499%204.11111%200.0416749C3.36667%200.0750149%202.85833%200.194483%202.41389%200.366739C1.95278%200.544553%201.56389%200.786267%201.175%201.17523C0.786111%201.5642%200.547222%201.95594%200.366667%202.41437C0.194444%202.8589%200.075%203.36734%200.0416667%204.11471C0.00833333%204.8593%200%205.09823%200%206.99861C0%208.89899%200.00833333%209.13792%200.0416667%209.88529C0.075%2010.6299%200.194444%2011.1383%200.366667%2011.5856C0.544444%2012.0468%200.786111%2012.4358%201.175%2012.8248C1.56389%2013.2137%201.95556%2013.4527%202.41389%2013.6333C2.85833%2013.8055%203.36667%2013.925%204.11389%2013.9583C4.86111%2013.9917%205.09722%2014%207%2014C8.90278%2014%209.13889%2013.9917%209.88611%2013.9583C10.6306%2013.925%2011.1389%2013.8055%2011.5861%2013.6333C12.0472%2013.4554%2012.4361%2013.2137%2012.825%2012.8248C13.2139%2012.4358%2013.4528%2012.0441%2013.6333%2011.5856C13.8056%2011.1411%2013.925%2010.6327%2013.9583%209.88529C13.9917%209.13792%2014%208.90177%2014%206.99861C14%205.09546%2013.9917%204.8593%2013.9583%204.11193C13.925%203.36733%2013.8056%202.8589%2013.6333%202.41159C13.4556%201.95039%2013.2139%201.56142%2012.825%201.17245C12.4361%200.783489%2012.0444%200.544553%2011.5861%200.363961C11.1417%200.191705%2010.6333%200.0722366%209.88611%200.0388966C9.13611%200.00833499%208.89722%200%206.99722%200Z%22 fill=%22white%22/%3E%3Cpath d=%22M6.99483%203.40625C5.0115%203.40625%203.40039%205.0149%203.40039%207.00141C3.40039%208.98791%205.00872%2010.5966%206.99483%2010.5966C8.98094%2010.5966%2010.5893%208.98791%2010.5893%207.00141C10.5893%205.0149%208.98094%203.40625%206.99483%203.40625ZM6.99483%209.33242C5.70594%209.33242%204.6615%208.28777%204.6615%206.99863C4.6615%205.70948%205.70594%204.66483%206.99483%204.66483C8.28372%204.66483%209.32816%205.70948%209.32816%206.99863C9.32816%208.28777%208.28372%209.33242%206.99483%209.33242Z%22 fill=%22white%22/%3E%3Cpath d=%22M10.7355%204.10227C11.1989%204.10227%2011.5746%203.72654%2011.5746%203.26305C11.5746%202.79956%2011.1989%202.42383%2010.7355%202.42383C10.2721%202.42383%209.89648%202.79956%209.89648%203.26305C9.89648%203.72654%2010.2721%204.10227%2010.7355%204.10227Z%22 fill=%22white%22/%3E%3C/svg%3E');
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.stacklapopup-products-item-button {
  background-color: var(--cta-button-background-color);
  color:  var(--cta-button-font-color);
  font-size: var(--cta-button-font-size);
}

.back {
  background: var(--text-tile-background);
  display: block;
  position: relative;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  //TODO: change to a variable that is used for .swiper .swiper-slide too
  border-radius: 5px 5px 0 0;
}

.image-wrapper-inner {
  position: relative;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-wrapper video {
  max-width: fit-content;
  max-height: 100%;
  object-fit: contain; 
  z-index: 1;
}

.video-control-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)     
  );
  padding: 10px;
}

.video-wrapper:hover .video-control-panel {
  opacity: 1; 
}

.video-control-panel button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.video-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.video-progress-bar .progress {
  height: 100%;
  width: 0%;
  background-color: white;
  transition: width 0.2s ease-in-out;
}
