.share-socials-popup-wrapper {
  display: none;
  position: absolute;
  right: 30%;
  top: 37%;
  z-index: 3;
}

.share-socials-popup {
  display: flex;
  flex-direction: column;
  width: 351px;
  border-radius: 5px;
  background: #ffffff;
  position: relative;

  .exit {
    top: -12px;
    right: -12px;
  }
}

.ugc-inline-share-buttons {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 20px 19px;
}

.popup-text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50%;
  border-bottom: solid #d6d4d5 1px;
  padding: 20px 0 12px 0;
}

.url-copy {
  display: flex;
  height: 32px;
  align-items: flex-start;
  margin: 0 19px 20px;
  border-radius: 3px;
  border: 1px solid #d6d4d5;
  background: #ffffff;
}

.share-url {
  border: none;
  outline: none;
  background: #ffffff;
  margin: 0;
  box-shadow: none;
  padding: 8px 12px;
  width: 100%;
  color: #4d4a4c;
  font-size: 12px;
  font-weight: 400;
}

.share-button {
  all: unset;
  position: absolute;
  right: 20px;
  top: 29px;
}

.copy-button {
  border: none;
  border-left: 1px solid #d6d4d5;
  outline: none;
  background: #ffffff;
  box-shadow: none;
  cursor: pointer;
  height: 100%;
  padding: 9px 12px;
  color: #1f63ca;
  font-size: 12px;
}
