.swiper {
  .swiper-wrapper {
    height: 701px;

    .swiper-slide {
      align-items: flex-start;

      div.image-filler {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        filter: blur(50px) brightness(0.5);
        inset: 0;
        transform: scale(1.2);
      }
    }
  }
}

//TODO: use mixins when available
@media only screen and (max-width: 992px) {
  .swiper .swiper-wrapper {
    height: auto;
  }
}
