
<masonry-layout class="ugc-tiles" cols="auto" gap="10">
    {{#tiles}}
        {{>tpl-tile}}
    {{/tiles}}
</masonry-layout>
<div id="buttons">
    <button id="load-more">Load More</button>
</div>
<div id="load-more-loader">
    <div class="loading"></div>
</div>
