@import "@styles/mixins.scss";
@import "@templates/tags/tags.scss";

#nosto-ugc-container {
  .ugc-tile {
    $total-padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .tile {
    position: relative;

    .play-icon {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
    }

    .tile-timephrase {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background-color: rgb(255 255 255 / 60%);
      border-radius: 2px;
      font-size: 12px;
      display: var(--tile-timephrase-display);
    }

    .tile-tags {
      position: absolute;
      margin: 0 16.4px 8.4px 8px;

      .tag-inline {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        font-size: 14px;
        padding: 4px;
        font-weight: 400;

        a {
          color: #fff;
        }
      }
    }
  }
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;

  .loading {
      height: 50px !important;
      width: 50px !important;
  }
}

.hidden {
  display: none;
}

.expanded-tile-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgb(0 0 0 / 90%);
  z-index: 10;
  cursor: pointer;
}
