@import "@styles/mixins.scss";
@import "@styles/expanded-tile.scss";
@import "@templates/tags/tags.scss";
@import "@styles/mixins.scss";

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  color: white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: var(--tile-size);
  width: var(--tile-size);
  margin: 5px;
  box-sizing: border-box;
  object-fit: cover;

  @include breakpoint(tablet) {
    width: calc(50vw - 10px);
    height: calc(50vw - 10px);
  }

  @include breakpoint(mobile) {
    width: 100vw;
    height: 100vw;
  }
}

#nosto-ugc-container {
  .ugc-tile {
    $total-padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
  }

  .tile {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;

    .play-icon {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
    }

    .tile-timephrase {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background-color: rgb(255 255 255 / 60%);
      border-radius: 2px;
      font-size: 12px;
      display: var(--tile-timephrase-display);
    }

    .tile-tags {
      position: absolute;
      margin: 0 16.4px 8.4px 8px;
      left: 0;

      .tag-inline {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        font-size: 14px;
        padding: 4px;
        font-weight: 400;

        a {
          color: #fff;
        }
      }
    }
  }
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;

  .loading {
      height: 50px !important;
      width: 50px !important;
  }
}

.hidden {
  display: none !important;
}

