// standard border radius
$border-radius: 5px;

// tile loading icon
$loading: (
  "width": 50px,
  "height": 50px
);

// video play icon
$play-icon: (
  "width": 30px,
  "height": 30px
);

$load-more-margin: 10px;
