@import "@styles/mixins.scss";
@import "@templates/tags/tags.scss";
@import "@styles/expanded-tile.scss";

#nosto-ugc-container {
.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  color: white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: var(--tile-size);
  margin: 5px;
  box-sizing: border-box;
  object-fit: cover;
}

.tile {
    background-size: cover;
    background-position: center;
}

.tile, .ugc-image {
  width: 100%;
  height: 100%;
}

  .ugc-tile {
    $total-padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    transition: opacity 0.5s ease;

    &:not(.processed) {
      opacity: 0;
    }
  }

  .tile {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    .play-icon {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
    }

    .tile-timephrase {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background-color: rgb(255 255 255 / 60%);
      border-radius: 2px;
      font-size: 12px;
      display: var(--tile-timephrase-display);
    }

    .tile-tags {
      left: 0;
      position: absolute;
      margin: 0 16.4px 8.4px 8px;

      .tag-inline {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        font-size: 14px;
        padding: 4px;
        font-weight: 400;

        a {
          color: #fff;
        }
      }
    }
  }
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;
  opacity: 1;
  transition: opacity 0.5s ease;

  &.hidden {
    opacity: 0 !important;
  }

  .loading {
      height: 50px !important;
      width: 50px !important;
  }
}

.hidden {
  display: none;
}