@use "sass:map";
@use "styles";

:host {
  transition: ease all 0.5s;
}

#nosto-ugc-container {
  .grid {
    .ugc-tile {
      box-sizing: border-box;
      overflow: hidden;
      transition: opacity 0.5s ease;

      &:not([width-set*="true"]) {
        opacity: 0;
      }
    }
  }

  .tile {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

    .play-icon {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
      width: styles.$play-icon-width;
      height: styles.$play-icon-height;
    }

    .icon-section {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;
  opacity: 1;
  transition: opacity 0.5s ease;

  .loading {
    height: styles.$loading-height !important;
    width: styles.$loading-width !important;
  }
}

.hidden {
  display: none !important;
}
