@use "sass:map";
@use "styles" as masonryStyles;

:host {
  transition: ease all 0.5s;
}

#nosto-ugc-container {
  background-color: var(--widget-background);
  margin: var(--margin);

  .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin);

    .ugc-tile {
      height: var(--tile-size);
      border-radius: 5px;
      box-sizing: border-box;
      overflow: hidden;
      transition: opacity 0.5s ease;

      &:not([width-set*="true"]) {
        opacity: 0;
      }

      max-width: 50%;

      @include masonryStyles.breakpoint(mobile) {
        max-width: 100%;
      }
    }
  }


  .tile {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

    .icon-play {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
      width: masonryStyles.$play-icon-width;
      height: masonryStyles.$play-icon-height;
    }

    .icon-section {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;
  opacity: 1;
  transition: opacity 0.5s ease;

  .loading {
    height: masonryStyles.$loading-height !important;
    width: masonryStyles.$loading-width !important;
  }
}

load-more {
  #buttons {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.hidden {
  display: none !important;
}
