@use "@styles/templates/tile-content" as tc;
@use "@styles/partials/media-queries";

.slider-inline {
  @include tc.tile-content-styles {
    .tile-content-wrapper {
      .header {
        share-menu {
          display: none;
        }

        .user-info {
          .user-link {
            .user-name {
              text-transform: uppercase;
            }
          }

          .avatar-wrapper {
            display: none;
          }
        }
      }

      @include media-queries.breakpoint(mobile) {
        .header {
          share-menu {
            display: flex;
          }
        }
      }
    }
  }
}

expanded-tiles {
  @include tc.tile-content-styles;
}
