@use "@styles/templates/tile-content" as tc;

.slider-inline {
  @include tc.tile-content-styles {
    .tile-content-wrapper {
      .user-info {
        .user-link {
          .user-name {
            text-transform: uppercase;
          }
        }

        .avatar-wrapper {
          display: none;
        }
      }
    }
  }
}

expanded-tiles {
  @include tc.tile-content-styles;
}
