<div class="ugc-tiles grid">
    {{#tiles}}
        {{>tpl-tile options=../options.widgetOptions.config}}
    {{/tiles}}
</div>    
<load-more />
<div id="load-more-loader" class="hidden">
    <div class="loading"></div>
</div>
