p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  font-family: Inter, sans-serif;
}

#nosto-ugc-container {
  background-color: #fbf9fb;
  min-height: 110vh;
}

.ugc-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#tiles {
  display: flex;
  justify-content: center;
}

.ugc-tile {
  margin-bottom: 20px;
  cursor: pointer;
  width: calc(20% - 20px);

  p,
  div {
    color: #201c1f;
  }
}

@media (width <= 1024px) {
  .ugc-tile {
    max-width: calc(25% - 20px);
  }
}

@media (width <= 768px) {
  .ugc-tile {
    max-width: calc(33.3333% - 20px);
  }
}

@media (width <= 480px) {
  .ugc-tile {
    max-width: calc(50% - 20px);
  }
}

.ugc-tile:not([data-media="image"], [data-media="video"]) {
  display: none;
}

.ugc-tile img {
  width: 100%;
  height: auto;
  max-height: 365px;
  object-fit: cover;
}

.tile-image,
.tile-video {
  position: relative;
}

.tile-message-wrapper {
  padding: 7px;
  position: relative;
  background-color: white;
}

.tile-message-wrapper > * {
  margin-top: 10px;
}

.tile-message-wrapper > :first-child {
  margin-top: 0;
}

.tile-avatar-wrapper > * {
  margin-left: 10px;
}

.tile-avatar-wrapper img {
  width: 40px;
}

.tile-avatar-wrapper > :first-child {
  margin-left: 0;
}

.tile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.tile-name-wrapper {
  flex-grow: 1;
  text-align: left;
}

.tile-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  word-break: break-all;
  color: rgb(254 255 254);
}

.tile-timephrase {
  color: #b9bab9;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  display: var(--tile-timephrase-display);
}

.tile-author {
  min-height: 22px;
  font-size: 16px;
  font-weight: 600;
}

.network-icon {
  position: absolute;
  top: 0;
  right: 10px;
}

.tile-network {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #2c2d2c;
}

.widget-icon {
  display: block;
}

.close {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
}

.chevron-left {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z'/%3E%3C/svg%3E");
}

.chevron-right {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z'/%3E%3C/svg%3E");
}

.tile-caption {
  margin-top: 15px;
  display: var(--show-caption);
  text-align: left;

  p {
    max-height: 200px;
    overflow: hidden;
  }
}
