@use "styles" as nightfallStyles;
@use "@styles/partials/inline-dimens" as dimens;

$tile-background: #000;

#nosto-ugc-container {
  background-color: var(--widget-background);

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, var(--tile-size)));
    grid-auto-rows: 10px;
    gap: var(--margin);
    background: var(--widget-background);
  }

  .ugc-tile {
    $total-padding: 10px;

    box-sizing: border-box;
    border-radius: dimens.$border-radius;
    overflow: hidden;
    max-width: 100%;
  }

  .tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 5px;
    background: white;
    width: 100%;
  }

  .tile-image {
    grid-row-end: span 30;
  }

  .tile-top {
    flex-grow: 1;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .icon-play {
      top: 43%;
      left: 0;
      right: 0;
      margin: auto;
    }

    .tile-image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.tile-bottom {
  padding: 16px 5px 12px;
  width: 100%;
  background-color: $tile-background;
}

.tile-tags {
  bottom: 0;
  display: inline-flex;
  gap: var(--tags-gap);
  list-style: none;
  mask-image: linear-gradient(to left, transparent 5%, black 15%);
  overflow-y: auto;
  padding: 0;
  scrollbar-width: none;
  width: -webkit-fill-available;
  z-index: 2;
  margin: 0 0 12.5px;
}

.tag-inline {
  border-radius: 3px !important;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  padding: 0 4px;
  line-height: 16px;
  text-wrap: nowrap;
  background-color: #bcbbbc !important;

  a {
    color: var(--text-tile-tag-font-color);
    text-decoration: none;
  }
}

.description {
  position: relative;
}

.tile-timestamp {
  color: #908e8f;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 10px;
}

.caption {
  font-size: var(--text-tile-font-size);
  color: var(--text-tile-font-color);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 63px;
}

.caption-paragraph {
  color: var(--text-tile-font-color);
  font-size: var(--text-tile-font-size);
}

.caption-paragraph a {
  color: var(--text-tile-link-color);
}

.user-name {
  color: var(--text-tile-user-name-font-color);
  font-size: var(--text-tile-user-name-font-size);
}

.user-handle {
  color: var(--text-tile-user-handle-font-color);
  font-size: var(--text-tile-user-handle-font-size);
}

#load-more-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 25px;
  opacity: 1;
  transition: opacity 0.5s ease;

  &.hidden {
    opacity: 0 !important;
  }

  .loading {
    height: 50px !important;
    width: 50px !important;
  }
}

.hidden {
  display: none;
}

.widget-icon {
  position: absolute;
  top: 10%;
  right: 8px;
}
