@use "sass:color";
@use "dimens";
@use "../add-to-cart";
@use "../products";

html {
  background: var(--widget-background);
}

expanded-tiles {
  --expanded-tiles-background: #fff;
}

expanded-tiles:not(:empty) {
  :host {
    transition: ease all 0.5s;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  text-rendering: auto;
  width: 100%;
  height: auto;
  position: relative;

  .play-icon {
    display: inline-block;
    width: dimens.$play-icon-width;
    height: dimens.$play-icon-height;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><circle cx="15" cy="15" r="15" fill="%23BCBBBC"/><path d="M19.5 14.1336C20.1667 14.5185 20.1667 15.4808 19.5 15.8657L13.5 19.3298C12.8333 19.7147 12 19.2335 12 18.4637L12 11.5355C12 10.7657 12.8333 10.2846 13.5 10.6695L19.5 14.1336Z" fill="black"/></svg>');
    background-size: contain;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
  }

  .hidden {
    display: none !important;
  }

  .back {
    display: none;
    background: #fff;
    position: relative;
    height: dimens.$back-icon-height;
    align-items: center;
    padding-left: 16px;
    max-width: dimens.$width;
    max-height: dimens.$height;

    // TODO: change to a variable that is used for .swiper .swiper-slide too
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  .expanded-tile-wrapper {
    --swiper-navigation-top-offset: calc(50% - 20px);

    display: flex;
    place-items: center;
    width: 100%;
    flex-direction: column;
    position: relative;

    .story-progress-wrapper {
      box-sizing: border-box;
      z-index: 50;
      width: 100%;
      display: flex;
      padding: 2px;
      justify-content: center;
      margin-top: 15px;

      .story-autoplay-progress {
        display: flex;
        width: 95%;
        justify-content: flex-start;
        font-weight: bold;
        border-radius: 30px;
        background: rgba(0 0 0 / 25%);
        box-shadow:
          inset 0 1px 2px rgba(0 0 0 / 25%),
          0 1px rgba(255 255 255 / 8%);

        .progress-content {
          height: 3px;
          border-radius: 30px;
          background-image: linear-gradient(to bottom, rgba(255 255 255 / 3%), rgba(255 255 255 / 5%));
          transition: 0.4s linear;
          transition-property: width, background-color;
          background-color: #fff;
        }
      }
    }

    .story-controls {
      display: flex;
      flex-direction: row;
      position: absolute;
      place-items: center flex-end;
      width: auto;
      height: fit-content;
      right: 20px;
      gap: 10px;
      z-index: 20;
      transition: all 0.2s ease-in;

      .icon-video-pause,
      .icon-video-play {
        width: 26px;
        height: 26px;
      }

      .icon-video-volume,
      .icon-video-mute {
        width: 16px;
        height: 16px;
      }

      .exit {
        position: unset;
      }
    }

    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          align-items: flex-start;
          width: dimens.$width;
          height: dimens.$height;

          .panel-active,
          .panel-inactive {
            overflow: hidden;
            position: relative;
            background-color: #000;
            border-radius: var(--expanded-tile-border-radius);
            flex-direction: column;
            height: 100%;
            width: 100%;
          }

          .panel-inactive {
            display: grid;
            place-content: center;
            place-items: center;
            gap: 20px;
            grid-template-rows: repeat(3, 1fr);
            grid-auto-flow: row;
            grid-template-columns: 1fr;

            .network-icon {
              display: flex;
              place-self: center;
              width: 36px;
              height: 36px;
              opacity: 0.3;
            }
          }

          .panel-active {
            display: none;
            background: var(--expanded-tiles-background);

            tile-content {
              margin: 10px;
              flex: 1;
              z-index: 1;
            }

            .bottom-section {
              bottom: var(--story-expanded-display-bottom-section);
            }

            .image-wrapper {
              display: flex;
              position: relative;
              height: 100%;
              width: 100%;

              .image-wrapper-inner {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                div.image {
                  display: flex;
                  position: relative;

                  img.image-element {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    margin-bottom: 0;
                  }
                }

                &:has(> .video-content) {
                  align-items: stretch;
                }

                .video-content {
                  display: flex;
                  flex-grow: 1;
                  border: none;
                  margin: 0;
                  padding: 0;
                  z-index: 0;
                }
              }

              video {
                display: flex;
                width: 100%;
                height: 100%;
                z-index: 10;
                position: relative;
              }

              .video-content-wrapper {
                display: flex;
                width: 100%;
                height: 100%;
                place-items: center;
              }

              .video-fallback-content {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;

                &.hidden {
                  display: none;
                }
              }
            }

            .story-expanded-bottom-section {
              height: 20px;
              display: flex;
              position: absolute;
              justify-content: space-between;
              z-index: 1;
              width: 100%;
              align-items: flex-end;
              flex-direction: row;

              tile-tags {
                display: var(--tags-display-expanded);
                position: absolute;
                left: 0;
                top: 4px;
                bottom: 0;
                height: 18px;
                margin-left: 5px;

                .tile-tag {
                  height: 13px !important;
                }
              }
            }

            inline-products {
              position: absolute;
              width: 100%;
              height: 171px;
              bottom: 40px;

              .expand-control {
                width: 60px;
                height: 9px;
                margin-left: 21px;
                margin-bottom: 8px;
                display: inline-flex;
                padding: 4px;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: 25px;
                opacity: 0.7;
                background-color: #FFF;
                cursor: pointer;

                &.collapsed {
                  visibility: hidden;
                }

                .expand-control-label {
                  color: #201C1F;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 12px;
                }
              }

              .swiper-pagination {
                --swiper-pagination-top: 165px;
                --swiper-pagination-color: #FFF;
              }

              .swiper-inline-products {
                height: fit-content;

                .tile-product {
                  width: 329px;
                  height: 100%;
                  border-radius: 10px;
                  background-color: #FFF;

                  .tile-product-left-panel {
                    width: 30%;
                    height: 128px;
                  }

                  .tile-product-right-panel {
                    width: 70%;
                    height: 128px;
                    padding-left: 12px;
                    padding-right: 12px;

                    .stacklapopup-inline-products-item-title {
                      margin-top: 15px;
                      color: #201C1F;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 600;
                      height: 22.4px;
                      overflow: hidden;
                      line-height: 20px;
                      display: -webkit-box;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                    }

                    .stacklapopup-inline-products-item-description {
                      height: 24px;
                      overflow: hidden;
                      color: #4D4A4C;
                      font-size: 10px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 12px;
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                    }

                    .stacklapopup-inline-products-item-price {
                      margin-top: 4px;
                      color: #201C1F;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 16px;
                    }


                    .stacklapopup-inline-products-item-button-wrap {
                      text-decoration: none;
                      display: block;
                      width: 100px;
                      cursor: pointer;

                      &.disabled {
                        pointer-events: none;
                        cursor: default;
                      }

                      .stacklapopup-inline-products-item-button {
                        margin-top: 8px;
                        background-color: var(--cta-button-background-color);
                        display: flex;
                        width: 100%;
                        border-radius: 4px;
                        padding: 7px 16px 8px 17px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        color: var(--cta-button-font-color);
                        text-align: center;
                        font-size: var(--cta-button-font-size);
                        font-style: normal;
                        font-weight: 600;
                        line-height: 19.2px;

                        &.disabled {
                          background:  #c4c4c4;
                          font-weight: bold;
                          cursor: default;
                          color: #9d9d9d;
                          pointer-events: none;
                        }
                      }
                    }
                  }

                  .inline-product-img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }

          .ugc-products-wrap {
            position: absolute;
            z-index: 60;
            height: 100%;
            width: 100%;
            background-color: white;
            display: none;

            ugc-products {
              padding: 16px;
            }
          }

          &.swiper-slide-active {
            .panel-inactive {
              display: none;
            }

            .panel-active {
              display: flex;
            }
          }

          &:not(.swiper-slide-active) {
            .ugc-products-wrap {
              display: none !important;
            }
          }

          div.image-filler {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            filter: blur(50px) brightness(0.5);
            inset: 0;
            transform: scale(1.2);
          }
        }
      }
    }
  }

  @include products.products-styles;
  @include add-to-cart.add-to-cart-styles;
}
