#nosto-ugc-container {
  display: flex;
}

:host {
  padding: 0;
  box-sizing: border-box;
  max-width: 90%;
  overflow: visible;
  position: relative;
  vertical-align: middle;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  background: transparent;
}

.exit {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  place-content: center center;
  align-items: center;
}

.tag {
  max-width: 120px;
  text-align: center;
  overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  background-color: #d6d4d5;
  padding: 5px;
  margin-right: 3px;
  border-radius: 2px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: inline-block;

  a {
    text-decoration: none;
    color: black;
  }
}

.panel {
  position: relative;
  background: #f4f4f4;
  max-width: 80%;
  max-height: 95vh;
  display: flex;
  overflow: hidden;
}

.panel-left {
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: start;
  flex: 1 1 55%;
}

.panel-left img {
  width: 100%;
  display: block;
}

.avatar-link img {
  width: 70px;
}

.panel-right {
  background: white;
  color: black;
  flex: 1 1 40%;
  padding-left: 20px;
}

.panel-right-wrapper {
  margin-top: 40px;
}

.tile-arrows-left {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: -60px;
  border: 0;
  background: none;
}

.tile-arrows-right {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: -50px;
  border: 0;
  background: none;
}

.widget-icon {
  display: block;
}

.tile-arrows .widget-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

div.image {
  position: relative;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}

.image-wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image-wrapper-inner .image {
  width: 100%;
  display: block;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-info-wrapper {
  text-align: left;
}

.user-info-wrapper a {
  color: #666;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  line-height: 1.4;
}

.user-top {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

.user-bottom {
  font-size: 1.2em;
  font-weight: 300;
}

.caption-paragraph {
  color: black;
  display: inline-block;
  font-size: 16px;
  line-height: 2;
  text-align: left;
  width: 100%;
  word-break: break-word;
}

html {
  background: var(--widget-background);
}

.ugc-tile {
  width: var(--max-tile-width);
  background: var(--text-tile-background);
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.caption {
  font-size: var(--text-tile-font-size);
  color: var(--text-tile-font-color);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 80vh;
}

.caption-paragraph a {
  color: var(--text-tile-link-color);
}

.user-name {
  font-size: var(--text-tile-user-name-font-size);
  color: var(--text-tile-user-name-font-color);
}

.user-handle {
  font-size: var(--text-tile-user-handle-font-size);
  color: var(--text-tile-user-handle-font-color);
}

.tile-timestamp {
  color: #ababab;
  display: inline-block;
  font-size: 12px;
  text-align: left;
  width: 100%;
  padding: 10px 0;
}

.tile-caption {
  margin-top: 15px;
  display: --show-caption;
  text-align: left;
}
